[2021-11-01 17:09] #733 closed, assigned to chasecaleb

[2021-11-01 17:18] chasecaleb commented on #736
Good summary from my comment. I agree with your analysis about Google Drive too. Unfortunately that seems about par for the course with Google when it comes to support.

Here's a couple ideas for determining Google Drive usage without client-side analytics:
1. Does Google Drive's OAuth integration offer any insight into client usage? GitLab shows a client count for example, although that's signifi

[2021-11-01 17:33] munen commented on #736
:+1:

It does. And the metrics would be 'more accurate' than the ones from GitLab But it doesn't help a whole lot, because the non-production OAuth app only allows 200 (iirc) users which we have exceeded a long time ago. That's why the sign in screen shows:
![image](https://user-images.githubusercontent.com/505721/139713503-fee7bf79-cbdd-447d-851e-7bcc2fad7ab4.png)

There's no way to tell how many

[2021-11-01 18:08] chasecaleb opened #737 "Show currently clocked heading"
**Is your feature request related to a problem? Please describe.**
As a user who tracks their time with clocking, I would like a way to tell when I have a clocked in heading and a way to navigate to it as well.

The current clock functionality in organice is better than nothing since it allows me to clock in and out on a heading, but the lack of UI visibility is limiting. There are a couple main s

[2021-11-01 18:20] chasecaleb commented on #736
Not at all! I wholeheartedly agree. That's the nice thing about a FLOSS project compared to a job.

---

So **to anyone who cares about ongoing Google Drive functionality**: please help out with this soon, or at the bare minimum comment on this issue if you're planning to contribute changes soon. Otherwise the first thing that I do if/when I work on this issue will be to remove Google Drive from o

[2021-11-01 18:42] munen commented on #736
Sweet!

Just to put all relevant information together in one place. These are the big issues with Google Drive at the moment:

1. https://github.com/200ok-ch/organice/issues/127
2. https://github.com/200ok-ch/organice/issues/109
3. https://github.com/200ok-ch/organice/issues/107

Any user (not just Google Drive users) will already benefit when #109 is dealt with. It will speed organice up and caus

[2021-11-02 09:21] munen commented on #732
Relabeled, because this is a change request, not a bug in existing behaviour.

[2021-11-02 09:21] munen commented on #732
Hi @alethiophile

Thank you for opening a new issue. Are you planning on working on this?

[2021-11-02 09:27] munen commented on #730
@markokocic @fullofcaffeine @non-jedi Do you plan to work on this?

Otherwise I'll have to close this for one month of inactivity due to https://organice.200ok.ch/documentation.html#how_we_work_with_issues

[2021-11-02 18:04] munen opened #739 "Cannot log in when selecting the GitLab back-end (sporadically)"
**Describe the bug**

@branch14, the co-founder of 200ok.ch, was super happy to hear about the GitLab back-end in organice, so he wanted to use it right away. At first, he could login using Firefox on the Desktop and could log in on his smartphone (Android).

After some time passed, he got an error on organice on the smartphone, so he tried logging back in. Now, logging in on the smartphone reprod

[2021-11-02 18:06] munen commented on #739
@chasecaleb Do you have an idea what this is about?

The only additional context that I can provide that @branch14 can can continue to use organice.200ok.ch on the Desktop and while he is describing the issue, I can continue to log out and in both on the Desktop and my iPhone, so it's likely not a general outage on the side of GitLab.

[2021-11-02 18:35] chasecaleb commented on #739
Ugh, sorry about this! So just to make sure I'm on the same page, there's two scenarios where that token call can happen:
1. While obtaining the initial token, i.e. clicking "sign in" from https://organice.200ok.ch/sign_in
2. While using the refresh token to obtain a new access token, i.e. at some random time while using the app (roughly >= 2 hours after sign in)

It sounds like there's an occur o

[2021-11-02 18:43] munen commented on #739
Not a problem at all. And even if it were, you've responded within 30 minutes from across the world - that's the most expensive SLA I can think of :rocket: :superhero:

This is very much how I understood it while he explained it to me. But @branch14 is the person who can confirm definitively. I can confirm that variant 1 (sign in) is occuring now as I've seen him debug it during a screen sharing s

[2021-11-02 19:31] chasecaleb commented on #739
@branch14 if you're able to run this for me via remote dev tools and share the output I would appreciate it:

[code]

Text or screenshot is fine, whichever is more convenient for you.

[2021-11-02 19:33] munen commented on #737
Hi @chasecaleb

It's very encouraging and fun to see that you're already tackling the next interesting task🚀

Clocking is one of the great Org mode features that I (and my team) also make regular use of when working on billable time for clients, so I'm happy to see this feature getting more love. The original implementation in organice is from @schoettl and I've seen that he has already given you

[2021-11-02 19:36] branch14 commented on #739
@chasecaleb Thx for looking into this!

![organice_gitlab](https://user-images.githubusercontent.com/20964/139940449-6243bcd7-0051-44bc-b202-254a584f5e5c.png)

[2021-11-02 19:41] branch14 commented on #739
I can confirm that @munen described the issue I have.

Case 2 might have been the initial occurrence of the issue, but I can only reproduce case 1, as I cannot successfully login, atm.

[2021-11-02 20:30] chasecaleb commented on #739
Update: I talked @branch14 on IRC and we found a workaround:
1. Clear `localStorage`. He did this via `localStorage.clear()` from a remote dev tools console, but I'm sure there's easier ways to do it on-device too.
2. Sign in again

I think the issue occurred because `localStorage.authenticatedSyncService` was cleared somehow, but so far I'm not sure what bit of code caused that to happen. I'm sti

[2021-11-03 08:34] branch14 commented on #739
I had the same issue (case 1 I assume) this morning when I opened organice on my phone.

Looking forward to testing, once #740 is merged and rolled out.

[2021-11-03 09:53] #739 closed

[2021-11-03 10:52] munen commented on #124
This is implemeted in https://github.com/200ok-ch/organice/pull/550. Closing.

[2021-11-03 10:52] #124 closed

[2021-11-03 10:55] munen commented on #36
The new iOS date picker is great and makes this issue obsolete:

![25333717-5902-4096-9E04-458751086186](https://user-images.githubusercontent.com/505721/140048236-75f91fe5-c541-48a4-8730-f0c82da7b7d5.png)

[2021-11-03 10:57] #36 closed

[2021-11-03 12:35] aspiers commented on #124
Awesome, congrats!

[2021-11-03 12:57] munen commented on #124
@aspiers Thanks. @tarnung and I worked a lot on this issue.

In the settings, there's now a "File settings" section where you can configure different attributes for a file (synced on startup, include in agenda, include in search, include in refile, include in task-list):

![2021-11-03_13-54](https://user-images.githubusercontent.com/505721/140063684-15be920d-1d0c-4ff4-bb99-dd39cac9e117.jpg)

As a

[2021-11-03 13:00] aspiers commented on #124
Looks and sounds amazing! :rocket: :fireworks:

[2021-11-03 13:01] munen commented on #124
Happy to hear you like it(;

[2021-11-03 19:34] munen opened #743 "Synchronization is bugg when met with rapid changes to the file"
Ok, so we have a three year old bug that's inherited from org-web. Here's the broken code: https://github.com/200ok-ch/organice/blob/master/src/actions/org.js#L185

The problem:

- When a user makes rapid successive changes to her file, the first change will trigger a `sync` action and all will be good with that.
- The next changes will trigger `sync` actions that will be debounced.
- Given that t

[2021-11-03 22:02] chasecaleb commented on #737
Clever. Regardless of whether or not it's a case of that XKCD, that's an interesting use-case. I like your idea about showing a search for open clocks, for example, as a way of implementing this without requiring a single clock. **Bonus**: this makes implementation easier, since it eliminates the need to e.g. automatically find and clock out of the currently clock when the user clocks into somethi

[2021-11-04 01:21] chasecaleb commented on #162
I came across this issue and the hard-coded example `lastUsedFilterStrings` while thinking about adding configurable saved queries, what do you think about that idea? For instance I would like to save a task list query of `WORKING|PENDING|BLOCKED` to search for my current work in progress tasks, because that's a pain to type out on mobile. Saving the most recent filter strings would sort of accomp

[2021-11-04 09:33] schoettl commented on #162
Thank you for coming back to this issue.

I just noticed that the `<datalist>` for suggestions doesn't work on Android. In the browser, when I type "W" it suggests "WORKING" (if this TODO keyword is in use anywhere).

I'm totally OK if you rather like to implement a configured list of queries. Note that there is already a `<datalist>` with hard-coded `lastUsedFilterStrings`. But it is re-populated

[2021-11-04 09:49] munen opened #744 "As a user, when I have a currently clocked task, I want that task to be indicated visually"
This is a placeholder issue for a feature that might be nice.

We could add something to the heading (e.g. a clock icon next to heading's bullet point icon or a different background color on the heading text) to make it easier to quickly see at a glance what the user is currently working on.

[2021-11-04 10:18] munen commented on #737
👍

Kind of right. However, for a file to show up in the agenda/search/task-list, it has to be either:

- The currently open file (and therefore recently pulled from the back-end) or
- Configured in the File Settings where it can be configured to be synced on startup.

Any other file that was opened is just saved to localStorage where it could lay unchanged for a long time.

👍

👍

You're right, it'

[2021-11-04 10:47] munen commented on #162
Oh, reviving this issue would be a goodie.

I have a suggestion on the UX. There's a tool that I regularly use which has a nice bookmarking feature for search queries: https://www.dropbox.com/s/8bbiq22m97n3omr/2021-11-04%2011-40-17.mkv?dl=0

[2021-11-04 10:50] munen commented on #162
@schoettl Interesting that the `<datalist>` doesn't work for suggestions. It did work before, didn't it? Maybe there's a JS polyfill to make it work on Android, again.

For completeness: The browsers I use (current Firefox, Chromium and Mobile Safari on iOS) continue to show dropdowns for the suggestions in organice.

[2021-11-04 10:59] schoettl commented on #162
Oh, it's actually Android/Firefox where it doesn't work. I don't remember if it worked on Android/Chrome and cannot test right now.

[2021-11-05 02:34] chasecaleb commented on #162
I've put zero effort into figuring out why so far, but I can quickly confirm that it:
- Does NOT work on Android Firefox.
- DOES work on Android Chrome.

---

Regarding UX design: I wholeheartedly approve of @munen's idea from the demo video. Saving queries on the fly is a much more intuitive experience than editing them in some obscure settings menu. The existing live search feedback is also, as

[2021-11-05 02:49] chasecaleb commented on #737
I like all the ideas in #211, and I think we should treat it as a blocker for the present issue for both UI and technical reasons:
1. I like replacing the button stack with a tab bar. It's a big UX win since then we'll be using a single design pattern instead of two different ones across different parts of the app.
2.  It makes more sense to refactor first and then benefit from the improvements wh

[2021-11-06 16:41] munen commented on #162
Happy to hear other people like the proposed UX(;

I have no strong preference towards which issue to tackle first. Personally, I'm quite certain to use this feature more often, but #737 is also something that I'll use regularly. Having said that, this is a FOSS project and you as the contributor get to decide what you're interested in working on - I'm happy to support you on both issues^^

[2021-11-06 16:47] munen commented on #737
I'm happy to hear you say that, because it would make a bigger mess to introduce a third similar component. However, I wasn't going to say it's a blocker, because if you're passionate about introducing this feature, I don't want to block you with a refactoring that I haven't done so far.

 I'm also happy to hear you like all ideas in #211. The issue is the resolve of a few discussions and calls be

[2021-11-06 20:19] tarnung commented on #737
Hi Caleb!
I just set up a dev environment for organice again and I'm still catching up with everything that happened here since I last checked. So I might not be up to speed with everything that you discussed yet.

I extended the search grammar with the "clock"-keyword a while ago.
Currently "clock" always searches for headers with clocked time on them.
"clock:now" is a legal search term that find

[2021-11-06 20:40] tarnung commented on #737
I guess I made a bit of a mess since I placed the search functionality for clock entries in setSearchFilterInformation (reducers/org.js line 1197) and not in inMatch like the rest of the search criteria. Took me a moment to get a hang of what's happening again.

But nonetheless, "clock" queries can be matched with every other search term (searching for a tag, text, schedule timestamps etc). I gues

[2021-11-06 22:46] munen commented on #737
Hi @schoettl 👋

Cool that you’re getting involved with this👍🚀

[2021-11-06 23:24] schoettl commented on #737
Hi all :) @tarnung: right, I see. Let's discuss your point regarding `setSearchFilterInformation` and `isMatch` in #745

[2021-11-08 12:43] tarnung commented on #737
@chasecaleb you can look at #747 for a basic implementation proposal. It only covers functionality not proper UI integration though.

[2021-11-08 21:03] #213 closed

[2021-11-08 21:16] tarnung commented on #33
there's code for visibility cycling buried in #559

[2021-11-08 21:23] tarnung commented on #19
I think this is fixed by multi file support / saving to local storage.

[2021-11-08 22:30] munen commented on #19
Confirm. Fixed by multi file support.

[2021-11-08 22:30] #19 closed

[2021-11-09 10:55] #683 closed

[2021-11-09 13:34] munen commented on #689
Closed by https://github.com/200ok-ch/organice/pull/749

[2021-11-09 13:34] #689 closed

[2021-11-14 20:54] mrloop commented on #730
Looks like some file access is possible with the non standard [File System Access API](https://caniuse.com/?search=File%20System%20Access%20API) but only on some desktop browsers. I also see there's a ponyfill here https://github.com/GoogleChromeLabs/browser-fs-access that may work. I'll try and find time and put a proof of concept together with this is see if it'll work.

[2021-11-17 10:16] munen commented on #730
@mrloop Sweet, looking forward to seeing a PoC. Thank you for stepping up :pray:

[2021-11-20 11:08] mrloop commented on #730
A work in progress of the POC can be found here https://github.com/mrloop/organice/pull/1 it has not got very far.

The purpose of the of the POC was to examine if it was possible to create a file system adapter for organice using the non standard [File System Access API](https://developer.mozilla.org/en-US/docs/Web/API/File_System_Access_API). The File System Access API only works on some desktop

[2021-11-21 18:11] ihdavids commented on #87
I could really use this as well. Loving gitlab integration. Would love github as well.

[2021-11-21 18:18] ihdavids opened #754 "Multiple repos"
Before creating a new issue, please read the "How we work with issues" section in the documentation: https://organice.200ok.ch/documentation.html#how_we_work_with_issues

**Describe the solution you'd like**
As a person that often works on many different independent projects i would love the ability to work off of and sync from multiple repos simultaneously. IE, my notes for a particular project s

[2021-11-22 16:08] tarnung commented on #737
The feature is merged into master. Let's continue the discussion over in #744 or in new features, if there is need for further improvement,

[2021-11-22 16:08] #737 closed

[2021-11-22 16:23] chasecaleb commented on #754
I thought about that while implementing GitLab support, but I stuck with a single repo for the sake of simplicity. I didn't want every single repo owned by (or accessible to) the user to be included because the possibly of accidentally committing to the wrong repo concerns me, e.g. by misclicking something or having a misconfigured capture template. It's probably not as much of a risk as it feels

[2021-11-22 17:09] ihdavids commented on #754
It sounds like you would be open to someone else implementing a configurable list of repos though? (And perhaps willing to review?)

This would be super handy for me so i might consider doing it.

[2021-11-22 17:44] chasecaleb commented on #754
Yeah that's fine with me. I think the maintainer, @munen, would be open to this too, but I'll let him speak for himself. If you could explain or [create a mockup](https://github.com/200ok-ch/organice#mockups) with your idea(s) on the config UI/UX that would be helpful.

I think something like this could work:
* Keep the initial "sign in" form the way it is with a text input for a single repo. That

[2021-11-23 20:39] tarnung commented on #754
I mostly agree with what @chasecaleb said.

I also don't have personal use for this feature, but I'm not against having it.
Starting with one backend and then having a seperate "manage backends" page accessed via the main settings page sounds like a sane approach.

I don't think there are any hard blockers. The way the backend settings are stored would need to be adjusted, there would have to be a

[2021-11-27 16:14] munen commented on #754
@ihdavids Would you like to work on that?

[2021-11-27 16:28] munen commented on #87
@ihdavids Are you interested in working on this?

[2021-11-27 16:40] ihdavids commented on #87
I am attempting to try to make some time.

[2021-11-27 16:41] munen commented on #87
@ihdavids Nice!

I'll be happy to support with code review and testing.

:pray:

[2021-11-27 18:06] munen commented on #730
Hi @mrloop

Thank you for checking out this issue and providing detailed information. This will indeed be valuable for the next person interested in this topic.

I'm sorry this didn't lead to where you wanted to go.

Thank you, again and kind regards :pray: :bow:

[2021-11-27 18:07] munen commented on #730
Closing as this cannot be implemented as previously stated and has now been proven by an independent POC.

[2021-11-27 18:07] #730 closed

[2021-11-28 21:29] munen opened #756 "Regression: Search / TaskList cannot be scrolled on iOS"
I assume it’s a regression to merging #751, but only just now saw it.

The fix is probably the same as the late fix in the PR for scrolling textareas.

[2021-12-09 09:51] munen opened #764 "Update Sign In page"
- [ ] Make link to Github more dominant
- [ ] Decouple "Sign In" and Github icon. Right now it looks like they are coupled.
- [ ] Bring GitLab into the list of sync back-ends

[2021-12-09 11:35] amm98d commented on #764
Hi, I would like to take this, if possible.

[2021-12-09 13:27] munen commented on #764
Hi @amm98d

Thank you for volunteering :pray:

Looking forward to the Pull Request.

Happy hacking^^

[2021-12-10 08:26] amm98d commented on #764
Hey @munen, I'm facing issues in setting up the environment. I have a windows system, thus I used [nvm-windows](https://github.com/coreybutler/nvm-windows). However, most of the codebase is still Linux-based with .sh files, etc...not sure how to proceed around that.

[2021-12-10 12:21] tarnung commented on #764
Hi @amm98d a year ago I worked on organice on a windows system. I had some small issues with line endings and such, but that should be taken care of by the git config. You mostly only need 'yarn start' (and 'yarn test') to fire up the organice dev instance. No need to dig into the scripts behind that. Do you have a specific problem with something not working?

A short while ago I did again set up

[2021-12-10 14:03] munen commented on #764
Thanks for jumping in, @tarnung. @amm98d He is a maintainer, too.

Generally speaking: I'm afraid that I haven't used Windows a whole lot since '99, so I cannot be a big help. From what I hear, [WSL](https://docs.microsoft.com/en-us/windows/wsl/install) provides a proper Linux environment in Windows 10 and 11. If you don't have that, I used to use [Cygwin](https://www.cygwin.com/) a long time ago.

[2021-12-11 08:51] amm98d commented on #764
Thanks for the input guys @tarnung @munen, I actually did try to go past all the scripts and Linux stuff and run `yarn start` as that is all I would be needing. However, there was an error in that. I will share it in a short while.

P.S. I have worked with WSL in the past, if nothing works, I will switch to that.

[2021-12-11 17:44] amm98d opened #765 "README.md should have a TOC"
**Is your feature request related to a problem? Please describe.**
The README.md is quite lengthy and should have a TOC for easy access.

**Describe the solution you'd like**
I would like to add a TOC to the README.md

[2021-12-11 17:47] munen commented on #765
The README is part of the documentation which has a pretty proper TOC(;

![image](https://user-images.githubusercontent.com/505721/145686475-21b4d975-1a1a-4fe5-9f91-52499ffd3501.png)

[2021-12-11 17:50] amm98d commented on #765
I meant for GitHub, like the one here:

![image](https://user-images.githubusercontent.com/39633205/145686530-29ea8fcc-4bac-4948-aa26-2f816cb35cab.png)

However, if the current README.md is somehow being used to build the documentation and adding a TOC here would interfere with that, that is understandable.

[2021-12-11 18:18] munen commented on #765
Exactly. Plus, the readme is not a md doc, it’s Org mode, of course. So you automatically get a ToC as Emacs user(;

[2021-12-11 18:25] #765 closed

[2021-12-12 04:10] xeechou opened #766 "Is it possible to customize TODO keywords"
Before creating a new issue, please read the "How we work with issues" section in the documentation: https://organice.200ok.ch/documentation.html#how_we_work_with_issues

**Is your feature request related to a problem? Please describe.**
Is it possible to customize TODO keywords, currently I don't see exposed settings about this.

**Describe the solution you'd like**
Is it possible to add customiz

[2021-12-12 06:54] munen commented on #766
The documentation has your back: https://organice.200ok.ch/documentation.html#in_buffer_settings

There is no ui to expose the in buffer settings, yet. Would you be interested in implementing it?

[2021-12-16 17:14] munen opened #768 "iOS top bar when used as SPA"
The top bar isn’t filled anymore. This happened with the upgrade to iOS 15.

Here’s the two commits that were setting it up for iOS 13 and Android previously:

- https://github.com/200ok-ch/organice/commit/3dc1d804b89a4c5b308d1b7acc424cec36283f31
- https://github.com/200ok-ch/organice/commit/3566297c88d6182327aae4869b3998836758bf7d

Here’s how it looks now:

![417128F6-0958-47DD-9F62-C2A2150B09FC]

[2021-12-19 15:28] dimitar-petrov commented on #242
Hello @munen, @Linuus
I am currently noticing the same issue with latest docker deployment: twohundredok/organice:3628

Did this issue regressed?

[2021-12-19 20:34] schoettl commented on #242
For me, it's working on organice.200ok.ch although it's a hidden feature. In the new "edit description" pane, click on the edit button a second time, then you can delete the logbook. As an alternative you can use the undo feature.

[2021-12-20 09:59] dimitar-petrov commented on #242
@schoettl, Thanks, also the "Prefer raw values" option has to be enabled in order to be able to edit the logbook drawer.

[2021-12-20 10:50] schoettl commented on #242
But it is, by default? I didn't change it.

[2021-12-20 15:24] munen commented on #242
Hi @dimitar-petrov

Thank you for the report. @schoettl and you are right in your description. When we introduced the semantic editor, we only documented it in the changelog. I've added some documentation to the help documentation: https://github.com/200ok-ch/organice/pull/769

[2021-12-20 15:29] munen commented on #242
@schoettl The "prefer raw values" option doesn't have a default option (and hence is disabled for new users imo): https://github.com/200ok-ch/organice/blob/master/src/util/settings_persister.js#L201

I think that's a sane UX default for a generic organice user - they can create drawers (like logbook and properties) through the UI and interact with them in the semantic view. But when editing the de

[2021-12-29 10:37] threddast opened #770 "Error parsing empty org files"
**Description**
When going from a subdirectory to the parent directory, I noticed that some files from the subdirectory were shown in the parent directory as well, even though they are not located there. Upon further inspection, I noticed that those files were empty org files, writing just a word in them solves the issue. Moreover, if trying to open an empty file from organice you get the error "c

[2021-12-29 15:18] munen commented on #770
Hi @threddast

Thank you for opening the issue. Showing an error for empty files is not a bug per see as it is documented in https://organice.200ok.ch/documentation.html#usage

![image](https://user-images.githubusercontent.com/505721/147676407-f7ec0646-1da3-4764-801a-c57942b59420.png)

The reason is that all actions in organice work on a headline. So without a headline, there's no action bar. Hav

[2022-01-03 14:19] munen commented on #732
Closing this issue as per https://github.com/200ok-ch/organice/blob/master/CONTRIBUTING.org#how-we-work-with-issues. If you choose to work on it at some point later, please re-open the issue.

[2022-01-03 14:19] #732 closed

[2022-01-14 21:39] schoettl opened #774 "Discussion: UX for trash can (currently deletes the TODO keyword if one is selected)"
### Discussed in https://github.com/200ok-ch/organice/discussions/773

<div type='discussions-op-text'>

<sup>Originally posted by **tkurtbond** January 14, 2022</sup>
When I edit the title there is a trashcan on the right, but nothing seems to happen when I select it.</div>

The trashcan button in the title edit panel has no effect.

[2022-01-30 17:14] wuqui commented on #766
One comment on this: this only words with `#+TODO:`, not with `#+todo:`. It took me a while to figure this out, since lowercase variants work just fine within Emacs. In case others have the same problem. Plus in case you want to extend and implement that.

Before you ask: unfortunately, I can't implement that myself, no. I don't have the skills. Thanks anyway for this cool tool! 👍

[2022-02-03 09:04] tarnung commented on #774
It deletes a TODO keyword if one is selected. The dots on the other side of the TODO keywords switch between TODO keyword sets if multiple ones are defined.
Tell me if you think of a way to make this more clear.

[2022-02-23 10:40] tbruckmaier opened #779 "PWA not installable"
I cannot install organice as a PWA on my mobile browser (the "install" button does not appear in any browser, while it works on other PWAs like https://mdn.github.io/pwa-examples/a2hs/)

On desktop, Chrome & firefox both report several errors with the app manifest (Developer tools -> Application -> Manifest)
- "Manifest start URL is not valid"
- "Manifest does not contain a suitable icon [...]"

I

[2022-02-23 10:51] munen commented on #779
Hi @tbruckmaier

Thank you for your report :pray:

A bit of background: We have introduced https://github.com/200ok-ch/organice/pull/465 to fix a change that happened on Android. The previous version still worked on iOS. The current version still works on iOS (I just tested with an iPhone 13 pro running the latest iOS 15.3.1). You mention that you cannot install it on a mobile browser, I'm assumin

[2022-02-23 10:53] munen commented on #779
@schoettl Iirc, you're an Android user, too. Can you confirm that organice currently cannot be installed as a PWA?

Thank you(;

[2022-02-23 11:01] #766 closed

[2022-02-23 11:02] munen commented on #766
@wuqui Thank you for the report regarding the need for uppercase in-buffer settings. @schoettl fixed that in https://github.com/200ok-ch/organice/pull/776.

[2022-02-23 11:30] schoettl commented on #779
Not sure, should there be a separate install option? The "add to home screen" button is there. For me, it still works offline given that it was opened when I was online.

![signal-2022-02-23-122549](https://user-images.githubusercontent.com/1301843/155310757-5dc4cf33-a5eb-4b30-82f7-97e2e6976e34.png)

[2022-02-23 11:48] tbruckmaier commented on #779
Hi @munen and @schoettl , thanks for your quick feedback! Yes right, I am on Android, should have mentioned that...

@schoettl yeah, PWAs show a "Install" button there. "add to home screen" is shown for every website, that just creates a shortcut to that specific url (which opens in the browser regularily)

I will send a pull request shortly, I'm happy to test it on the staging environment!

[2022-02-23 14:05] #779 closed

[2022-02-23 14:08] munen commented on #779
@schoettl Thank you for quickly checking it out :pray:

I did look up the [docs from Google](https://support.google.com/chrome/answer/9658361?hl=en&co=GENIE.Platform%3DAndroid) and they confirm there should be an 'install' button.

The fix is deployed to production. I hope it leads to a better PWA experience for Android, now.

[2022-02-23 21:19] tbruckmaier commented on #779
@munen I can confirm, the PWA is installable in Android now as well. Thank you all for the fast update!

[2022-03-08 16:39] ParetoOptimalDev opened #783 "Cannot fully swipe right in portrait mode on android"
**Describe the bug*

When I try to mark an item as done by swiping right, it almost gets to the edge to complete but not quite.

If I change to landscape mode it works fine because organice doesn't take up the full screen horizontally.

I'll try to fill in more details later if needed.

This seems like it could be related to not accounting for phones that use gestures on the left and right edges o

[2022-03-09 04:15] ParetoOptimalDev opened #784 "docker-compose instructions don't work"
**Describe the bug**

Changing to port 3000 after seeing log:

[code]

Fixes things.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete

[2022-03-09 13:06] ParetoOptimalDev commented on #783
This seems to be working. I wrongly thought the green had to hit the right edge and was swiping right slowly and carefully to not mess up.

When I tried swiping fast it just worked.

[2022-03-09 13:06] #783 closed

[2022-03-10 17:04] PhilHudson opened #785 "Doco: ELI5 how to get going with Docker image"
Before creating a new issue, please read the "How we work with issues" section in the documentation: https://organice.200ok.ch/documentation.html#how_we_work_with_issues

**Is your feature request related to a problem? Please describe.**
A clear and concise description of the process for pulling and configuring the docker image to work with my org files located in (say) ~/org/. Starting from nothi

[2022-03-10 22:52] schoettl commented on #785
Hi Phil,

Would you mind cleaning up your issue a bit, i.e. removing placeholder text? It would be easier for maintainers to understand would you want.

What's the problem with https://github.com/200ok-ch/organice#with-docker-compose ? And have you also seen https://github.com/200ok-ch/organice#webdav ?

[2022-03-10 22:58] PhilHudson commented on #785
Please document how to pull and configure the docker image to work with a user's org files located in (say) ~/org/. Starting from nothing but docker.io already installed and ending with my agenda (or just my main ToDo.org) showing in a web browser.

[2022-03-11 10:11] munen commented on #785
Thank you for your request.

The documentation of organice is not meant to be a replacement of documentation of Docker and command-line tooling. Having said so, we have documentation that is sufficient for people comfortable with these tools: https://organice.200ok.ch/documentation.html#docker

If you're not comfortable using Docker and the command line, already, we have you covered: Use the insta

[2022-03-11 10:11] #785 closed

[2022-03-14 05:01] chasecaleb commented on #783
I actually think this is an issue that could use consideration, thanks to some phones that make the questionable design choice of curving the left/right edges of the screen. For example, on a Samsung Galaxy S9+ it takes me a solid 10+ tries to swipe to delete. I'm using Chrome in vertical orientation, but I'm pretty sure I tried Firefox and had the same frustration.

I imagine for curved phones li

[2022-03-14 08:42] DivineDominion commented on #355
Tried to connec tto my Nextcloud via WebDAV (and failed a.t.m., need to figure out why), so +1 to this if anyone knows out how to deploy on the platform. That'd be cool. Will add this to my hobby project list and look into it as well :)

[2022-03-14 08:51] schoettl opened #787 "FAQ WebDAV has moved?"
**Describe the bug**

In the README, there are some places linking `#faq_webdav` (i.e. anchor within README). But I can't find these anchor definition and the links don't work. I think it actually refers to https://organice.200ok.ch/documentation.html#faq_webdav

Should I change these occurrences to the absolute URL or did I get something wrong?

[2022-03-14 08:53] schoettl commented on #355
Hi @DivineDominion,
have you looked into https://organice.200ok.ch/documentation.html#faq_webdav, specifically sections about CORS and Gotchas?

[2022-03-17 11:41] schoettl commented on #787
Ah, I understand. I agree that it makes no sense to merge Wiki and README into one even bigger GitHub README.

The only solution that comes to my head is to use absolute URLs in the README where it refers to anchors that are not in the README (i.e. links referring to documentation.html).

When generating the documentation, a sed script could then replace the absolute URL `https://organice.200ok.ch

[2022-03-21 10:56] munen commented on #787
Yes, that would absolutely work :+1:

[2022-04-05 13:52] munen opened #789 "Make font configurable"
organice uses the `font-family` Courier in many places.  @branch14 found out that Android does not have this font-family, so it falls back to a 'random' font (not even mono-space). A safer approach would be to use `font-family: Deja Vu Sans Mono, Courier New, Courier, monospace`.

But when we make this change, we could already make it configurable which font to use for power users.

[2022-04-08 13:21] AlexD97 commented on #712
@Ypot were you able to solve this issue?

[2022-04-08 13:42] Ypot commented on #712
Hi AlexD97. No, I couldn't solve it. I hope you'll have better luck :-)

[2022-04-11 10:39] neiljerram opened #790 "Architecture and change notification for organice syncing with Git repo on a Linux phone"
**Is your feature request related to a problem? Please describe.**
Not a specific problem; but yes in the general sense that I'd like to use Organice to see and edit my Org files on a Linux phone, and there is not yet a complete solution for doing that.

**Describe the solution you'd like**
I'd like to work on this solution, and to get input here on whether my proposed solutions are good.  Is it O

[2022-04-11 16:06] schoettl commented on #790
So, you run Docker on your PinePhone smartphone?

I don't quite understand why your OrgSync service does so many things. Why not share your Git repo contents directly via WebDAV? If you don't want to share the `.git` folder, you could share only a subfolder, use `git init --separate-git-dir …`, or define a WebDAV exclude rule.

My "OrgSync" (Dropbox, but it should be the same with WebDAV) is this:

[2022-04-19 12:07] neiljerram commented on #790
Thank you @schoettl for your thoughts!

Yes.  It seems like a practical solution to run organice on the phone.  Given its JS dependencies, it feels like it would be hard to get those in place without containerization.

Can you explain more what you mean?  Does GitHub (which I use as my master repo) have a WebDAV option?  Or do you mean that I should use WebDAV to publish from one of my git repo cl

[2022-04-19 13:09] schoettl commented on #790
Well your setup with multiple git branches and automatic merging seems a bit complicated to me.

In my setup, every Smartphone/PC just syncs to the same non-Git backend, i.e. Dropbox or WebDAV. And *one* device (e.g. your server, your PC, or your phone) can commit any change in the folder to one main branch. It's not good practice to have the `.git` folder in Dropbox, this is why I use `--separate

[2022-04-19 13:49] munen commented on #790
The setup @schoettl is similar to the one I've used successfully for years, as well.

The only difference is that I even have the `git` directory in Dropbox. I remember that this used to create conflicts in Dropbox when I started using Dropbox (> 10 years ago), but I tried again once I've started using Org mode (~7 years ago) and never had a conflict or other Dropbox/git issue.

[2022-04-20 13:05] neiljerram commented on #790
@schoettl Thanks again.  I think I could indeed live with a solution like yours, and I can see that it works well, but I would prefer if possible not to sync my Org data via a proprietary service.  Prompted by your input and this discussion, I can see a simplification that I guess will also provide the notification that I was looking for.

The simplification: I realised that the WebDAV server must

[2022-05-01 05:42] kjmatsuda opened #792 "Can I migrate features to org-web, and vice versa?"
Hi! Thank you for sharing organice. This tool makes me motivated to develop.

I am a user and contributor of org-web.
I implemented list control feature in org-web.
https://github.com/DanielDe/org-web/pull/106

I have a question. In organice, there are features as below:
- org clock like feature
- can run as a PWA

I love these features, and want to migrate to org-web.
And I also like to migrate l

[2022-05-01 16:43] munen commented on #792
Hi @kjmatsuda

Thank you for your kind words :pray:

First, let me say that your list control feature is very nice, indeed! Great work and thank you for the contributions to the community :bow:

Having said so, it neither makes sense to move code from organice to org-web nor is it legal. organice originally is a fork of org-web ([here's the background](https://github.com/200ok-ch/organice/#org-web

[2022-05-01 16:43] #792 closed

[2022-05-11 11:35] 7ie7an opened #794 "Add note does not behave like org-add-note"
**Describe the bug**
The behavior of note taking in emacs org-mode is linked to state change logging. This is so far not the case in organice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Preferences
2. Enable ~org-log-into-drawer~
3. Go to any headline
4. Add note

**Expected behavior**
Note is taken into :LOOGBOOK: drawer.

**Screenshots**
![UzRRSKUcUtItDFvmePwnVAVk](https://user-

[2022-05-24 14:57] munen commented on #18
@chasecaleb Thank you for updating the link. And if you can take care of #668, you'll be a :superhero:. Best of luck :crossed_fingers:

[2022-05-24 15:26] chasecaleb opened #796 "Toggling checkbox deletes marked-up text"
**Describe the bug**
Toggling a checkbox causes Organice to delete any marked-up text (bold, italics, etc) within the same heading's contents.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a heading with a plain-list checkbox element as well as some marked-up text.
2. Toggle the checkbox
3. Sync
4. Refresh the page or view on another device: marked-up text is gone.

Here's the examp

[2022-05-24 16:45] chasecaleb commented on #796
This isn't the same scenario as #668, but it might be the same underlying. If not, I suspect it's at vaguely

Implementing #18 would also resolve the issue here, but I think this is worth fixing ASAP since it results in data loss (as opposed to waiting for #18, which is a long-term effort).

I'll try to poke around with this issue when I get a chance -- if anyone has suggestions on where to start

[2022-05-24 20:40] schoettl commented on #796
Oh, that's a bad one. Thanks for reporting! It's already documented here though: #376
So I guess we can close this issue.

I would appreciate very much if you have to time to check on it and fix it. I't start looking in the reducer function for the check/uncheck feature. Looks like that one is somehow deleting the markup.

[2022-05-24 20:40] #796 closed

[2022-05-24 20:40] schoettl commented on #376
More information and screenshots in #796

[2022-05-27 06:56] danielo515 opened #797 "Provide a way to expand headers without showing edit controls"
Before creating a new issue, please read the "How we work with issues" section in the documentation: https://organice.200ok.ch/documentation.html#how_we_work_with_issues

**Is your feature request related to a problem? Please describe.**
When browsing my org tasks I like to expand them to have an overview. However, the only way to expand a header is by selecting it, and when you select it it opens

[2022-05-27 09:09] #787 closed

[2022-05-27 09:25] munen commented on #797
Hi @danielo515

Thank you for opening an issue. However, it's not really an issue, it's a UX discussion. Let me still answer a couple of points:

1. You are not in edit mode when you tap a header. You will have to tap one of the icons first.
2. You can close the action icons by tapping the space in the very top between "File browser" and the "undo" icon.
3. Even if you accidentally make changes to

[2022-05-27 09:43] munen commented on #797
Updated the title for accuracy and removed the shouting.

[2022-05-27 11:25] danielo515 commented on #797
That is something I understand, but I was not sure how to correctly name the thing that was annoying me.

But that is a lot of unnecessary work (literally doubles the amount of effort 😄 ) when navigating deeply nested trees. I have to either tap twice, first on the node and then in a very specific area far away from it, or deal with the annoyance of not being able to comfortable reach the next nes

[2022-05-27 11:29] munen commented on #797
I'm very sorry to hear that organice is creating "unnecessary work", "annoyances", "not being comfortable" and "especially annoying" - all within two sentences. You are very welcome to use organice if it serves you and to not use it if it does not.

[2022-05-27 11:31] munen commented on #797
As for creating more button taps for everyone who wants to use organice for editing, that is a no go as described before. Assuming that everyone has the same workflow as you - in a project that's years old and has thousands of users - is probably not right.

If you come up with a way to reconcile your wishes with the existing UX, feel free to open a constructive dialogue. In the meantime, I see no

[2022-05-27 11:31] #797 closed

[2022-05-27 11:46] danielo515 commented on #797
Yes, and that is what I will exactly do, in fact is what I do with most things. But being an open source project I thought I could offer some suggestions to improve the experience of the users that could share my workflow.

We are clearly not understanding each other, because that is not what I am proposing. To better ilustrate what I'm requesting, here is an screenshot of a tree structure that al

[2022-05-27 20:59] munen opened #799 "Link to WebDAV documentation from the login"
New users are unaware that they need to configure their server for CORS. When the login fails, they give up and think organice does not work. Linking to [the WebDAV docs](https://organice.200ok.ch/documentation.html#faq_webdav)  should help.

Additionally, it would help to display any errors on login in a modal and not just in the log.

[2022-05-28 14:44] munen commented on #594
Since this issue has been on hold for a good while, I took the liberty to make a quick change. I have increased the size of the whole app from [35em to 60em](https://github.com/200ok-ch/organice/commit/338d0c6ef6b233186610b7dd685118c69d94e330).

[2022-05-28 14:47] munen commented on #594
@MisterY Thanks for getting involved :pray:

`vw`/`vh` units would work very differently. For example, if set to `50vw`, and I use organice in a split-screen, then my browser would take 50% of the screen whereas organice only takes 50% of that, so there would always be a big margin.

With the `em` setting, if you have a big screen, you can use it in split-screen without margin. If you have a small

[2022-05-29 22:38] neiljerram commented on #790
@munen @schoettl I have posted #801 as a way of documenting what I am now doing.  Do you think it would be useful to merge this or a modified form of it?

[2022-06-02 13:52] #799 closed

[2022-06-02 15:02] deshmukhs opened #815 "Installing it"
A complete newbie here. So, the question may sound very basic.

How do I install it? I thought that all web apps are necessarily html files that I need to open in a browser. I have used tiddlywiki in the same way.

But, here, no such file is available. What exactly do I need to do?

Thanks.

[2022-06-02 15:17] schoettl commented on #815
Hi @deshmukhs,
To install it, you have to open a hosted instance of organice in the browser on your mobile device. You can only install an web app that is hosted on a server. E.g. you can use the instance at https://organice.200ok.ch/
From there, refer to the [installation section](https://github.com/200ok-ch/organice#installation)

[2022-06-02 21:00] schoettl opened #816 "After sign-in to GitLab in Firefox, an empty HTML file is downloaded automatically"
**Describe the bug**
A clear and concise description of what the bug is.
about:blank

**To Reproduce**

1. Sign out
2. Sign in using your GitLab project
3. Authorize access on the gitlab page
4. On redirect to the app view, Firefox downloads an empty HTML file wtih a random filename like NrTOQHJ2.html

But I couldn't reproduce it a second time...

**Expected behavior**

Shouldn't download a file.

[2022-06-02 21:10] munen commented on #816
Hi @schoettl

Thank you for the report! I just tested on Safari in iOS and logged in and out twice without reproducing. I’ll try soon with FF on Linux.

At least it’s good that it can still work, since Android and iOS still function^^

Good night and speak soon👋

[2022-06-03 06:29] deshmukhs commented on #815
@schoettl Thanks. That got me started, at least. I, now, have an 'app' on my mobile phone that opens organice in its own window.

A few other problems have cropped up. But I'll raise them separately.

One point, though. Without 'Signing In', it isn't possible to do much. This is a bit counter-intuitive given that organice is offline capable.

Lastly, to install it on FF on Android, there's an 'Ins

[2022-06-03 08:44] munen commented on #816
I tried on FF 100 on Debian Linux and couldn't reproduce it. However, I also do not get the Gitlab authorization screen anymore. I guess everyone sees that one only once. I go directly from the /sign_in screen to being logged in.

So this downloading of the HTML file might be an edge case that only happens for the first login. @schoettl Do you remember if you've actually been logged in on your fir

[2022-06-03 10:32] #815 closed

[2022-06-03 16:17] schoettl commented on #816
@munen Yes, I got this download only the very first time, I signed in with GitLab (after the authorization step)! So it's hard to reproduce...

[2022-06-03 16:24] schoettl commented on #815
@deshmukhs @munen to be honest, I agree that "sign in" is not 100% intuitive. My first reaction was "sign in, sign up? why would i need to create an organice account?". "Connect cloud storage" would maybe more clear, or just "Open organice app".

Regarding the installation instructions, I'll check this README section later!

[2022-06-04 02:52] deshmukhs opened #819 "Using organice completely offline"
In order to use organice, it is almost mandatory to sign in to a syncing service.

Can it not be used exclusively with a local file? So, instead of connecting to a sync service, I just open the local file.

Also, I am using dropbox backend for now. The URL is shown as 'https://organice.200ok.ch/file/Apps/organice/test.org'

Is it that all files are also stored on organice.200ok.ch?

[2022-06-04 05:54] munen commented on #819
Thank you for using organice. Please do read the documentation first before opening one issue after the other. Your last issue was answered in the docs. This latest issue is literally answered in the first paragraphs under “What does this project do”: https://organice.200ok.ch/documentation.html#what-does-this-project-do

If, after reading the docs, you have further questions please ask them in th

[2022-06-04 05:54] #819 closed

[2022-06-04 13:48] deshmukhs commented on #819
@munen Apologies. I could have read the docs more carefully. Will keep in mind going forward

[2022-06-04 15:16] munen commented on #819
Sweet, thanks 🙏🏻

All the best of luck and if you’ve got questions, you’re very welcome to join the community chat: #organice on IRC [Libera.Chat](https://libera.chat/), or [#organice:matrix.org](https://matrix.to/#/!DfVpGxoYxpbfAhuimY:matrix.org?via=matrix.org&via=ungleich.ch) on Matrix.

[2022-06-04 15:29] munen commented on #815
@schoettl I’m on the fence regarding wording.

I can appreciate that “Sign in” can lead to the question regarding having to create an account for organice. However, what’s the issue with that?

Imo, if “Sign in” is creating trouble, which is quite a normal action to do for many apps, then the CTA “Open organice app” _after_ having opened the actual organice app will blow some heads. This kind of r

[2022-06-04 16:10] schoettl opened #820 "Wording "Sign in" on landing page"
munen:

[2022-06-04 16:24] schoettl commented on #820
So, "sign in" always sounds to me like to sign up to some proprietary product – where often is actually no need to have an account beside the ad and marketing e-mails that you get after sign up. In organice this isn't the case and therefore I'd prefer that this is not suggested to new users.

I suggested "Open organice" because the landing page totally looks like a product page to me (like https:/

[2022-06-09 13:15] #127 closed

[2022-06-09 13:25] munen commented on #784
Thank you for the report :pray:  It was a regression on newer versions of Apache2.

[2022-06-09 13:36] alphapapa commented on #127
@munen I am late to this thread, but I just want to offer praise for your inhuman patience with Google's inhumane reviews.

[2022-06-09 13:37] munen commented on #127
@alphapapa You're the best and you have made my day. Thank you :pray: :bow:

[2022-06-11 13:03] dmorlitz opened #827 "Setting default webDav server via .env file - or some other method"
I have noticed that there is a way to set default credentials for multiple storage backends through the .env file.  I was wondering if there was a way to set the default webDav server name, and possibly the username through this file - or any other method.  That would make signing into organice much easier - especially when on a mobile device.

For self-hosted environments, I imagine that the webD

[2022-06-11 13:05] dmorlitz opened #828 "Showing overdue items on the agenda views"
Would it be possible (and easy) to have the agenda views also show incomplete and overdue tasks at the top.  While I am very new to org mode, I believe that their agenda view does have this capability.  I am not sure if that would be easy to build into your library or not - but I wanted to ask.  I think that would be a significantly helpful feature.

[2022-06-11 15:05] munen commented on #827
Hi @dmorlitz

Thank you for using organice 🙏🏻

You are right. It certainly can make sense for self hosted instances to have a pre-filled WebDAV host.

Some background: The other credentials in the .env file are of a different kind, though. For Dropbox and Gitlab, we have to set up a so called “app” with either of these providers so that we can provide OAuth authentication. The current credentials

[2022-06-11 15:14] munen commented on #828
Hi @dmorlitz

That’s a vert reasonable request. And you are right, EMacs Org mode supports it. Luckily, organice also does(; I use it all the time, too.

Here’s an agenda with quite a few issues that are way overdue:

![F471260E-A6E1-409A-8D6F-F91258F63F77](https://user-images.githubusercontent.com/505721/173193510-117f28b1-5f00-4802-a9ea-14f75f7ab27f.jpeg)

As you can see, the oldest issue is on

[2022-06-11 15:14] dmorlitz commented on #827
I am willing to give it a shot - if you pointed me in the right direction.
I am sort of a hack (and not really a Node expert) but it never hurts to
learn.

If I can figure it out, then I will submit a PR.

On Sat, Jun 11, 2022 at 11:05 AM Zen Monk Alain M. Lafon <
***@***.***> wrote:

[2022-06-11 15:56] munen commented on #827
It’s a good first issue to get your feet wet^^

Here’s the react hook which sets the default value for the WebDAV server in the sign in form: https://github.com/200ok-ch/organice/blob/6a5721b47bb1b4f3ef6f3d820ec2d1dc6e0bb18a/src/components/SyncServiceSignIn/index.js#L22

As you can see, currently the default is an empty string. Instead, you could read this value from the .env file. An example on h

[2022-06-11 23:33] dmorlitz commented on #827
Thank you very much for the pointers.  I was able to easily find where the
variable was filled out - and I used the other sync backends as an example
of pulling the environment variable from the .env file.

This feature only seems to require 2 updates - which was easy to get
started with.

Now, I just have to learn how to use the git cli better, so I can exclude
the package-lock.json and package.j

[2022-06-12 11:43] dmorlitz commented on #828
My apologies - you are quite correct.  This feature appears to already be here.  What had confused me is that (since I am new to org mode) none of my todo's were significantly old.  It appears on the agenda view that overdue items will appear on the day they are due (if that is on the screen) AND on today.  Since I was looking at the week and month view (and none of my test todo's were more than 1

[2022-06-12 11:43] #828 closed

[2022-06-12 11:44] dmorlitz commented on #827
Since I have submitted a PR for this issue - I am going to close this question thread.

[2022-06-12 11:44] #827 closed

[2022-06-13 11:53] munen commented on #827
Thank you for your support and your kind words :pray:  These go a long way!

We have recently created a landing page for organice and I would like to add some user testimonials. Would you mind if I use "This is a SPECTACULAR project and I am glad that I found it." with your GH username and image on there? If you do, that's perfectly alright and I will not use it in this way, of course^^

[2022-06-13 12:04] dmorlitz commented on #827
Please feel free to include that as a testimonial.  I am really big into
the principals of open-source as well as self-hosting.  (After you do
security consulting for a while, you tend to get paranoid)  I would even
expand the testimonial to say:

"This is a SPECTACULAR project and I am glad that I found it.  Organice
takes the extreme power of org mode and makes it simple to use.  When
combined w

[2022-06-13 12:09] munen commented on #827
Perfect, thank you very much :bow:

And I wholeheartedly agree with you on the issue that it is of utmost importance to have options to make our data our own. That was initially the big motivation behind using Org mode for me. Before that, I used many other proprietary tools - and not all of them let me migrate my data. Org mode will always allow it, and with https://github.com/200ok-ch/org-parser

[2022-06-13 12:32] munen commented on #827
I'll wait for the OK on a second testimonial and will then deploy a landing page with this new section:

![image](https://user-images.githubusercontent.com/505721/173354167-5cb6fb73-3442-4d02-a835-73e56290bf45.png)

[2022-06-14 08:38] munen commented on #107
Closed by #817.

[2022-06-14 08:38] #107 closed

[2022-06-14 08:41] #87 closed

[2022-06-14 15:18] munen opened #843 "Undo looks like it is persisting changes, but it does not"
The UI looks like it is making a synchronization and there are HTTP requests being dispatched. But there's no change in the actually persisted file.

Corresponding: Reloading the page will bring back the version of the file before undoing.

Tested with WebDAV and Dropbox.

[2022-06-14 22:01] tarnung opened #845 "Unable to log into gitlab backend when stale localstorage hangs around"
TLDR: If you are in a state where you're not logged into a backend but the localstorage of your last session did not get cleared out, you can not log in. (On gitlab, i did not reproduce it on other backends.)

A while ago I got logged out of organice on a machine i rarely use it on. So when my attempt to log back in failed, I took the easy way out and used other devices.
Now I tried it again. I ev

[2022-06-15 06:34] munen commented on #845
I confirm the bug; I have seen it before, as well.

I didn't check it out in detail yet, because I don't (can't) use GitLab as my primary sync back-end. The reason is that I have shared Org files with different parties residing in separate repositories.

Your possible solution sounds correct to me. One small addendum: Wiping the localStorage will certainly fix the problem. But on the edge case tha

[2022-06-15 06:40] munen commented on #845
After a tiny bit more thought.. I can see some upside to completely clearing localStorage when the user gets redirected to the landing page and not cherry-pick for GitLab. The reasons are:

1. It's easier to understand code.
2. This cleanup code will not have to be kept in sync with GitLab.
3. It will work for any sync back-end that has a similar kind of issue.

I'm tending to think that these arg

[2022-06-15 06:57] munen commented on #845
At the very least, I have created a PR that improves the error logging for the GitLab backend. I noticed that there are some caught exceptions that are not logged.

https://github.com/200ok-ch/organice/pull/846

[2022-06-15 07:02] munen commented on #845
Hah, what do you know. Getting to work this morning, I actually found this screen:

![image](https://user-images.githubusercontent.com/505721/173763264-3518fd96-be47-4a7b-a0f6-869503682655.png)

Redux store looks like this:

![image](https://user-images.githubusercontent.com/505721/173763395-2373ff02-ca91-45cb-a209-9c854f1233b7.png)

Tbh, I cannot even remember which backend I was connected to las

[2022-06-15 08:38] #784 closed

[2022-06-15 17:59] tarnung commented on #845
I'll try to look into it!

[2022-06-15 18:55] munen commented on #845
Nice, good luck and have fun^^

[2022-06-16 09:43] schoettl opened #848 "Dropbox connection is always lost on next day or browser restart (fix available)"
**Describe the bug**

On Firefox and Chromium (Android and Linux Desktop), about a day after I connected to my Dropbox, organice doesn't work anymore:

- Sync doesn't work (takes forever)
- Listing directory content shows a error alert (see screenshots): "There was an error retrieving files!"

This happened the second or third time to me within the last few days.
Sign out and sign in again fixes i

[2022-06-16 09:48] schoettl commented on #848
PS: Looks like I have the same problems on Chromium and Chrome on Android.

(And I did not played with any Dropbox auth tokens!)

[2022-06-16 09:50] munen commented on #845
Since introducing the new LP, we have a bit of conflation in the routing. I think this could also introduce side effects for the storage back-ends.

[Here's a draft PR](https://github.com/200ok-ch/organice/pull/847) to refactor and clean this up nicely. Unfortunately, I cannot finish the PR this week, because the monthly retreat is about to start. I'll leave the PR here in case it helps you, maybe

[2022-06-16 09:57] munen commented on #848
That sounds pretty severe. I cannot check it on my Desktop, because I'm currently logging out and in on four different browsers (all I got^^) for testing various new features.

However, on my iPhone, I haven't logged in or out in a long time. I just checked, and it still works.

Not saying that this is not a bug, because it *does* sound serious. Since my phone is still logged into to Dropbox, it c

[2022-06-18 15:20] schoettl commented on #848
Dropbox or organice actually kicked and disconnected me already after a few minutes. Definitely after a browser restart.

I could fix this by removing organice from my Dropbox settings "Connected Apps" and then re-connect organice with Dropbox. Now it seems to work stable again.
![grafik](https://user-images.githubusercontent.com/1301843/174445007-a262962d-db85-486f-a531-2f2a478eba15.png)

[2022-06-18 15:22] schoettl commented on #848
Should we leave this open for a while so that it is easier to find if other people have the same issue?

[2022-06-20 13:18] munen commented on #845
Potentially, https://github.com/200ok-ch/organice/pull/847 fixes https://github.com/200ok-ch/organice/issues/845#issuecomment-1156066653. I'm not 100% on that, though. Unfortunately, I cleared the localStorage 'by accident' after I think I saw that it worked once. So now I don't have any browser left in this broken state.

[2022-06-20 14:06] munen commented on #848
Dropbox documents how to set the "access token expiration" in the developer console: https://dropbox.tech/developers/migrating-app-permissions-and-access-tokens

According to their docs, this is how it should look like:

![image](https://user-images.githubusercontent.com/505721/174619306-554bbb78-450c-4341-8791-ef5e1b77aaf8.png)

However, on our app, this option does not exist:

![image](https://u

[2022-06-20 16:38] munen commented on #848
So.. I did spend the last couple of hours trying to get the new Dropbox authentication flow in. On a high level, I think we have to change from OAuth 1 to OAuth 2 (PKCE). Here are some docs:

- SDK Repo: https://github.com/dropbox/dropbox-sdk-js
- OAuth Guide: https://developers.dropbox.com/oauth-guide
- PKCE: What and Why?: https://dropbox.tech/developers/pkce--what-and-why-
- Single HTML file ex

[2022-06-21 07:12] munen commented on #845
If you mean in #847, then yes, because #847 is not specifically a fix for this (#845) issue. It's a refactor and a cleanup that also potentially solved https://github.com/200ok-ch/organice/issues/845#issuecomment-1156066653.

To tackle #845, I'm in favour of clearing the localStorage with the arguments outlined [here](https://github.com/200ok-ch/organice/issues/845#issuecomment-1156049664).

[2022-06-21 07:27] #770 closed

[2022-06-21 07:33] tarnung commented on #845
Ah, i missed that you referenced the comment, not the issue as a whole.

[2022-06-21 07:45] munen commented on #845
No worries. I kind of conflated your issue by adding a 'possibly related and similar, but not the same issue' issue(;

[2022-06-21 12:57] #754 closed

[2022-06-21 12:57] munen commented on #754
Closing according to [contribution guidelines](https://github.com/200ok-ch/organice/blob/master/CONTRIBUTING.org).

Please re-open when you do want to work on that.

[2022-06-21 13:32] munen commented on #768
![7E9F09BE-551D-49AE-AE61-4C173C640D32](https://user-images.githubusercontent.com/505721/174811869-7f627a40-e750-4452-ad7f-7bb29114b022.png)

![038D0B3A-17B2-4EDB-8896-FB483BD57549](https://user-images.githubusercontent.com/505721/174811896-035a31ec-f18c-4e46-b6e3-95b65ef076df.png)

[2022-06-21 13:39] chasecaleb commented on #768
Good reasoning, I agree. That white

[2022-06-21 13:41] munen commented on #756
Works on current `master`.

[2022-06-21 13:41] #756 closed

[2022-06-21 13:48] munen commented on #716
Since this issue has been stale for a year, I'll close it according to the [contributor guidelines](https://github.com/200ok-ch/organice/blob/master/CONTRIBUTING.org).

If you want to work on this issue, please feel free re-open it any time! :pray:

[2022-06-21 13:48] #716 closed

[2022-06-21 13:49] munen commented on #705
Since this issue has been stale for a year, and none of the maintainers owns a Mac for further testing, I'll close it according to the [contributor guidelines](https://github.com/200ok-ch/organice/blob/master/CONTRIBUTING.org).

If you want to work on this issue, please feel free re-open it any time! :pray:

[2022-06-21 13:49] #705 closed

[2022-06-21 13:53] munen commented on #640
This got solved somewhere along the way. Here's how the example from above looks in Emacs and in current organice:

![image](https://user-images.githubusercontent.com/505721/174816568-84b563ae-a6be-4ebe-b748-81f68a652aac.png)

Imo it behaves correctly. Likely somebody fixed it and forgot to close the issue.

Thank you for the initial report :pray:

[2022-06-21 13:53] #640 closed

[2022-06-21 13:58] munen commented on #594
organice on FF in Debian Linux on a 4k display looks like this for me right now:

![image](https://user-images.githubusercontent.com/505721/174817195-0119f5ae-3bf0-4c12-90ea-d28abee45c6a.png)

It does behave responsively. So when I split my screen in half, it looks like this:

![image](https://user-images.githubusercontent.com/505721/174817415-c7c28fb0-e729-4278-ae43-2fc1a1dee97c.png)

And from th

[2022-06-21 13:58] #594 closed

[2022-06-21 14:04] munen commented on #768
@chasecaleb Thank you for confirming! Good to see some people checking up on my grooming :pray:

[2022-06-22 09:05] munen commented on #583
Closed by #853.

[2022-06-22 09:05] #583 closed

[2022-06-22 14:34] munen opened #858 "Deploy with `make` times out on CI"
Technically speaking, deploying with `make` on CI works phenomenally, however the [job itself ](https://app.circleci.com/pipelines/github/200ok-ch/organice/1977/workflows/1da08146-7c77-4bfc-8288-e68eedf3d538/jobs/4289) complains about timing out.

[2022-06-22 21:20] chasecaleb commented on #640
This is still a bug and I can reproduce it. @munen you need to click the checkbox to trigger the bug (you don't have it checked in your screenshot).

Here are the exact steps that I took:

1. In Organice, create this heading:
[code]
2. Check the checkbox
3. Wait for sync
4. In Organice it looks correct at this point, but if you look at the file in your sync backend (GitLab repo, dropbox, whatever)

[2022-06-27 07:24] 7ie7an commented on #794
Hey,
I will try to set up my dev environment this week but would actually prefer to help as tester. As I am a complete beginner.
First I want to try the "good first issue" labled ones.

[2022-06-27 08:01] munen commented on #794
Hi @7ie7an

Looking forward to your PRs! Good luck and have fun :+1:

[2022-06-27 08:07] munen commented on #162
Currently grooming the issues. We discussed options in this issue about UX and came up with bookmarks. Bookmarks are implemented in https://github.com/200ok-ch/organice/pull/758.

So I assume this issue is implemented in spirit and hence I'm closing it. If someone disagrees and still wants the 'last 10 searches' feature implemented/discussed, feel free to re-open anytime.

[2022-06-27 08:07] #162 closed

[2022-06-27 08:08] munen commented on #32
I came up with the idea and currently don't like it anymore. Closing it for the moment.

[2022-06-27 08:08] #32 closed

[2022-06-27 08:11] munen commented on #25
Already implemented in 2020 by https://github.com/200ok-ch/organice/pull/607.

[2022-06-27 08:13] munen commented on #109
Fixed by https://github.com/200ok-ch/organice/pull/817

[2022-06-27 08:13] #109 closed

[2022-06-27 08:35] munen commented on #744
Made obsolete by https://github.com/200ok-ch/organice/pull/747

[2022-06-27 08:35] #744 closed

[2022-06-27 08:40] munen commented on #464
Closed with the same argumentation as in https://github.com/200ok-ch/organice/issues/291.

[2022-06-27 08:40] #464 closed

[2022-06-27 08:41] munen commented on #385
Closing, because it's been two years since the last ping. When yo get back to it, please feel free to re-open. I'm looking forward to the PR and will happily help out with testing and code-review :pray:

[2022-06-27 08:41] #385 closed

[2022-06-27 08:45] munen commented on #640
@chasecaleb My apologies :pray:

You are right, of course! I'll leave this issue closed in favour of https://github.com/200ok-ch/organice/issues/376 which has linked to this issue.

Thank you for double checking :+1:

[2022-06-27 08:48] munen commented on #342
In the meantime, all `<<radio_targets>>` have been converted to `CUSTOM_ID`. Also, the links are not relative, but lead to Github, so that they work from Emacs, Github and organice.200ok.ch/documentation.html.

Thank you for reporting :pray:

[2022-06-27 08:48] #342 closed

[2022-06-27 09:20] #247 closed

[2022-06-27 09:23] munen commented on #217
We have a distinction between "edit deadline" and "edit schedule" since merging #751, but forgot to close the issue.

Thank you, @aspiers, for the initial report :pray:

![image](https://user-images.githubusercontent.com/505721/175906426-71fd76f2-48c2-46d9-9bcb-856c699ea46a.png)

[2022-06-27 09:23] #217 closed

[2022-06-27 09:33] munen commented on #174
The native date pickers in iOS, FF and Chrome have come a long way since 2019. They all look great. Nothing to do here, anymore.

[2022-06-27 09:33] #174 closed

[2022-06-27 09:48] munen commented on #72
This has been fixed (twice) for iOS in the last years. The issue is obsolete.

[2022-06-27 09:48] #72 closed

[2022-06-27 11:21] aspiers commented on #217
Fantastic, thanks @munen! I hope to get back to using organice sometime this summer. And I would also love to come on a coding/meditation retreat sometime too ;-)

[2022-06-27 17:16] munen commented on #848
For new connections, the Dropbox app for organice.200ok.ch also returns short lived tokens, now. I tried a second time to implement OAuth 2 and PKCE. [This](https://github.com/200ok-ch/organice/pull/851) works on my machine.

I'm currently logged in with FF and Chromium, so at least something works with the re-implementation. I'll wait until tomorrow to see if I'm still logged in or if there's som

[2022-06-27 20:08] schoettl commented on #848
Hi munen, thanks for this thorough investigation of the problem! I'm having my final exams the last couple weeks. This Wednesday is the last one!

I can at least help testing your branch overnight with Firefox and Chromium on Desktop.

I encountered a little bug: after signing in with dropbox on your branch, I got the error alert "There was an error retrieving files" (as in my screenshot above). E

[2022-06-28 08:03] munen commented on #848
Ah, good luck with the final exams :crossed_fingers: :notes: :100:

Don't let yourself be disturbed, but I'll continue to post updates here for future reference.

I have the same about once in 4 tries. Might be a racing condition, but a weird one, because at this point we always should have a valid token..

In any case, the test overnight yields an `expired_access_token` error for me. So the new i

[2022-06-28 08:36] munen commented on #848
I pushed a new version. It might just work. Again, we need to wait and see.

[2022-06-28 14:07] munen commented on #442
This hasn't failed on CI in some years and I also don't see randomly failing tests on my machine. Since I cannot act upon the issue, I'm closing it.

If anyone finds this issue in the future and has the same problem as described above, please feel free to re-open. Then let's discuss the issue again and find a new solution. Until then, tests are :heavy_check_mark:

[2022-06-28 14:07] #442 closed

[2022-06-28 18:21] tarnung commented on #774
I also like the suggestions 1 & 2. I do not like the written out "next set" though.
I'll see if i can make 1&2 happen. If there is enthusiasm for 3, someone else should be able to make that happen quickly.

[2022-06-28 19:28] munen commented on #774
@tarnung Thanks for responding to the issue, but please do not trouble yourself with implementation. #862 is a PR for all three points. If you want, you can review it, though^^

Btw, after having implemented it and have seen it, I do agree that “Next set” spelled out is not very nice. It’s pretty bold and “in your face” while it’s not the most important action on the screen at all. However, I do t

[2022-06-28 20:09] tarnung opened #864 "Change log renders above previously opened view component"
Recently the changelog acts strangely for me.
I had cases where the changelog showed up double. The view started out scrolled somewhere into the middle of the changelog and as i scrolled down to the start of the history it repeated (again showing "general" and the whole change log beneath it).
Now i discovered an even stranger bug. I opened the change log from the settings menu and the change log

[2022-06-28 20:42] tarnung opened #865 "Header scrolls off screen"
The header (where the undo/redo buttons sit) scrolls off screen when scrolling in a view.

This behaviour existed way back when but for the last two years the header was sticky if i recall correctly.

Feel free to close this if it's an intended change that i just happened not to like.

[2022-06-29 10:08] munen commented on #774
Agreed :sweat_smile:

One option to tame it a bit:

1. Having todo keyword sets is a pro user option. It's pro for at least so long as we don't have a UI to configure todo keyword sets. Hence, a lot of users will not need to see a button that doesn't do anything. I'm proposing to hide it if there's only one todo keyword set configured for the file.

2. > The only other button of this kind is the "

[2022-06-29 16:08] #774 closed

[2022-06-29 16:12] #843 closed

[2022-06-30 10:35] hgkamath opened #866 "[RFE] ical calendar sync, round-trip syncing of RFC-5545 icalendar"
**Is your feature request related to a problem? Please describe.**
- The problem is that the ical-calendar and org-mode-todo are two disparate entities.

**Describe the solution you'd like**
- ical calendar sync , google/nextcloud calendar sync,
- Round-trip syncing of RFC-5545 https://datatracker.ietf.org/doc/html/rfc5545
- This would allow one to use organice in conjunction with other softwares

[2022-06-30 10:54] hgkamath commented on #866
Before creating a new issue, please read the "How we work with issues" section in the documentation: https://organice.200ok.ch/documentation.html#how_we_work_with_issues
- I understand this is a really tough feature
- I read that, as this is a long term issue. As of 2020-Jun, it is non-actionable.
- As nobody will be working on it, issue will be closed, which is understandable
- I filed this so th

[2022-06-30 12:41] munen opened #867 "Improve UX for 'todo keyword sets' in task modal"
The task modal looks like this:

![image](https://user-images.githubusercontent.com/505721/176412491-a385d9dc-3d27-4487-bafe-24af361ac81e.png)

On top, it shows a 'todo keyword set'. If there's more than one configured in the Org file, there's a button 'next set' to switch to the next one.

However, for bigger todo keyword sets, this happens:

![image](https://user-images.githubusercontent.com/505

[2022-06-30 12:41] munen commented on #774
New issue created: https://github.com/200ok-ch/organice/issues/867

[2022-06-30 15:50] #848 closed

[2022-06-30 15:53] munen commented on #848
Thanks for the report. It's fixed, now.

[2022-06-30 15:54] MaxSchlueter opened #868 "Sign in to self-hosted GitLab instance"
**Describe the bug**
In organice I'm trying to sign in to my own GitLab instance. I get the following error message:
[code]
Naturally, it's not a gitlab.com URL. This should in principle be possible though, right?

[2022-06-30 16:38] munen commented on #868
Hi @MaxSchlueter

Thank you for using organice :pray:

Unfortunately, what you want is not possible to my knowledge. This has been researched a couple of times, at least. There should be some information in old issues, discussions or the community chat somewhere.

If this has changed, you're very welcome to provide a PR with the necessary changes. Until then, this is not a bug, but a feature reque

[2022-06-30 16:59] munen commented on #864
Confirmed. That's a pretty ugly bug, too.

I propose fixing it by getting rid of the concept 'modal' for changelogs in the sense that it would be nice to have [proper routes wherever we can](https://github.com/200ok-ch/organice/issues/26).

[2022-06-30 17:28] munen commented on #864
I have created a PR. Sample and Changelog now only work with their own routes `/sample` and `/changelog`. There's no weird 'modal logic' that puts stuff on top of stuff.

If you would like to review it, that would be nice. If you like it, please go ahead and merge it.

[2022-06-30 17:29] munen commented on #26
Sample and Changelog now only work with their own routes `/sample` and `/changelog`. There's no weird 'modal logic' that puts stuff on top of stuff.

[2022-06-30 17:40] munen commented on #865
Good catch.

It is not an intended change. I botched it by accident by implementing [feat: Proper Landing Page](https://github.com/200ok-ch/organice/pull/809#)
#809[feat: Proper Landing Page](https://github.com/200ok-ch/organice/pull/809#)
#809 which was way more effort than I anticipated. But it also did bring a lot of goodies - not just the LP, but some refactoring. One PR before that, the heade

[2022-06-30 17:48] munen commented on #865
Hm.. it's not as easy as I hoped. Before introducing #809, it worked. After introducing #809, it did not.

But going through the CSS code, I don't see what botched it. So it's probably markup related, not just CSS.

[2022-06-30 17:55] munen commented on #865
I have created a PR based on the first original sticky header from 2019. That one turned out not to be sufficient since there were follow up PRs. However, it does seem to work well for me in first tests.

I'd be happy if you can check it out. If you like it, feel free to merge the PR.

[2022-06-30 18:15] munen commented on #866
Hi @hgkamath

Thank you for using organice :pray:

It's not exactly what you're proposing, but I this is my workflow on how to get Org mode agenda items into my calendar (and hence on my phone with notifications): https://200ok.ch/posts/2022-02-13_integrating_org_mode_agenda_into_other_calendar_apps.html

Apart from that, we will be working on adding notifications to organice itself.

Adding a ful

[2022-06-30 18:22] munen commented on #35
Obsolete, because organice has a way better UX by now and has consolidated different patterns into one.

There's still work to do, but it's not topsy-turvy, anymore.

[2022-06-30 18:22] #35 closed

[2022-07-01 10:01] MaxSchlueter commented on #868
Hi @munen

sure, I can have a look into it. Do you have any pointers to the research that has happened around this issue? I couldn't find any information yet looking through old issues.

[2022-07-01 10:58] munen commented on #868
Great!

Since you’re trying to implement it, personally I would ignore any prior comments and look at the Gitlab API docs directly. If it works, it works. And then it might even be a change of only a few bytes to make it work, too^^

[2022-07-01 13:39] P4ndemic opened #871 "Dropbox doesn't sync anymore with latest update, probably pull 861"
**Describe the bug**
Exactly with the latest upgrade from the 30.06.2022 Dropbox syncing stopped working. The changelog mentions pull request 851 upgrading Dropbox authentication flow. So very likely this pull request broke the syncing.

**To Reproduce**
Steps to reproduce the behavior:
1. have an existing account connected to Dropbox
2. get the latest update
3. syncing stopped working

**Expected

[2022-07-01 13:43] munen commented on #871
Hi @P4ndemic

Sorry to hear you have trouble synchronizing with Dropbox :pray:  It's unlikely that the latest upgrade broke Dropbox synchronization, though. I have spent a whole week on this PR and I had to. Dropbox changed the authentication scheme from OAuth to OAuth 2 / PKCE. So while you might still have had a valid token from your last login, if you had ever logged out, your next token would

[2022-07-01 13:45] munen commented on #871
P.S.: I'm saying that it's unlikely, because this PR has been tested by multiple people before it went live. And for those people (including me) it also works on production.

[2022-07-01 13:54] munen commented on #871
I just pushed a new version to `master` which should be live in a couple of minutes. That should take care of automatically signing out Dropbox connection using the legacy Dropbox authentication scheme. After a new login to Dropbox, you'll be good to go.

Apologies for the inconvenience :pray:

[2022-07-01 13:58] munen commented on #871
The new version is live on https://organice.200ok.ch.

[2022-07-01 14:15] munen commented on #871
Thanks for getting back to me. Happy to hear it works, again, and thank you for your kind words :pray:

P.S.: Logging out and back in (automatic or not) is not a choice that's up to us. Dropbox changed their API and we either had to go with the change or lose Dropbox sync functionality altogether^^

[2022-07-01 14:47] dmorlitz opened #872 "Making the height of the Description area variable"
I would like to make the height of the textarea in the Description editor variable.  The reason for this request is that I have several descriptions (for example, with tables) that are larger than 8 rows and would be easier to edit if the text area was taller.

So far, I have been able to:
1) Edit the Settings screen to have a number field for the desired height of the Description editor
2) Persis

[2022-07-01 16:07] dmorlitz commented on #872
I will open a PR for what I have so far and you can see what I have been able to do.  I thought that there was already some awareness of mobile devices (I believe I have seen isMobileBrowser in some of the code) - so I could add 2 number settings - 1 for desktop and 1 for mobile devices

[2022-07-01 16:11] munen commented on #872
Nice!

There is. organice is optimized for use on a smartphone with use on the Desktop as 'best effort' currently. The use on Desktop could use some optimization. But there is no setting that works different on Desktop/mobile, right now.

I'm not sure that's the best approach, though. Wouldn't that make it easy for the user to add a setting where her task modal just overflows on mobile? Imo the cu

[2022-07-01 17:56] hgkamath commented on #866
Presently, I don't think I can commit to doing it.  But, one day, if it feels like I wanna give it a try, I'll ping you, here. Thanks for offering to mentor.

- Thanks for the link to your blog post write-up. Yours is the latest at 2022-02-13 as of this writing.

- Notifications could be useful. There are notification that happen inside the PWA and notfications that are relayed to the smartphone/t

[2022-07-06 09:52] #864 closed

[2022-07-06 13:45] #865 closed

[2022-07-06 14:39] munen commented on #866
You're very welcome. Thank you for contributing to FOSS🙏

👍

Fortunately, this issue has been solved in mobile apps for iOS and Android years ago. I cannot remember the specific time, because I'm not a mobile app developer, but it's something like 8 years ago iirc.

TL;DR: Apps **cannot** run in the background. iOS and Android are not like other OSs in that regard. They only allow a specific subse

[2022-07-06 14:40] #866 closed

[2022-07-06 14:41] munen commented on #872
Implemented in https://github.com/200ok-ch/organice/pull/873

[2022-07-06 14:41] #872 closed

[2022-07-07 16:36] munen opened #877 "For the LP, create a GIF showing off some powerful search queries"
This will replace the static screenshot on the LP at the "Remember all the things" section:

![image](https://user-images.githubusercontent.com/505721/177825083-f51064c2-b8a5-40e2-9d86-eeede045f4d5.png)

[2022-07-07 17:09] munen opened #879 "Ability to link to headers"
Org mode syntax allows for links to `CUSTOM_ID` like so:

[code]

One option would be to use native JS with `elem.scrollIntoView()`.

[2022-07-07 17:41] schoettl opened #880 "Documentation has escaped HTML"
Seems to be a bug in the documentation make/deploy process...

![grafik](https://user-images.githubusercontent.com/1301843/177836179-88ceff18-c1ed-4dc5-b206-72b09199d6ce.png)

https://organice.200ok.ch/documentation.html

[2022-07-07 17:43] munen commented on #880
Good catch!

@branch14 recently introduced nice labels for the Readme. Doesn't look like they are playing well with the docs -_-

![image](https://user-images.githubusercontent.com/505721/177836462-3db0ed9f-e4e0-48fd-a967-d1245808ef37.png)

[2022-07-07 17:44] munen commented on #880
Makes actual sense, Phil replaced the 'ugly' inline `#+html:` blocks with `#+BEGIN_HTML`, but those are different When Emacs exports the latter, that's actually a code block!

[2022-07-07 17:51] munen commented on #880
I thought that setting `:results value raw` to the source block would work, but on a first try it does not. I'll look into it another time.

Relevant exporting docs:

https://orgmode.org/manual/Results-of-Evaluation.html

[2022-07-07 17:53] schoettl commented on #880
Shouldn't it be `#+BEGIN_EXPORT html`? https://orgmode.org/manual/Quoting-HTML-tags.html

[2022-07-07 17:55] munen commented on #880
Yes, that would be a totally valid option. But then the wonderful legacy Org mode parser of Github won't show it in the Readme(;

[2022-07-07 17:56] munen commented on #880
If only there would be a good parser and Github would be FOSS, then we could make a PR to remedy that. A big and an even bigger 'if'(;

[2022-07-07 18:01] schoettl commented on #880
Do you even have an HTML babel interpreter configured (`org-babel-execute`)? What does that do? The most useful thing is lingting IMO :D

[code]

[2022-07-07 18:16] munen commented on #880
I’m not sure I understand the implication. Of course babel understands HTML.

Again, I don’t understand. There’s great tooling around HTML in Emacs and Org. For example this is a popular and powerful mode: https://web-mode.org/

Having said all that. For the Readme/docs, that’s all completely irrelevant. We just want to inject HTML into the exported document.

[2022-07-08 08:55] munen commented on #880
`#+BEGIN_HTML` and `#+BEGIN_EXPORT html` are basically the same. Prior to `org-mode` 8, the first was used, afterwards the latter.

Unfortunately, Github uses a super legacy and buggy Org parser. That's why we used `#+BEGIN_HTML`. Unfortunately, Emacs does not export it the way it used to.

So the solution is to use the common denominator `#+HTML` which we used before introducing the new badges.

[2022-07-08 09:13] #880 closed

[2022-07-09 07:50] munen opened #883 "Cannot click “gift changelog” in HeaderBar on iOS"
Tested on iPhone 13 pro on iOS 15.5.

It works on the desktop, though. Also, the changelog link in the settings works even on iOS.

[2022-07-13 17:01] chasecaleb commented on #883
I haven't looked into this and don't plan on it, but a few thoughts:

I think I came across this on Firefox on Android too a couple days back, but now that I've read the changelog I can't verify haha. I suspect this is an issue with mobile-sized CSS layout, not browser specific. Assuming that's true, you'll be able to reproduce this on desktop with your browser's mobile viewport display emulation

[2022-07-13 19:36] whxvd commented on #121
Since Org 9.5, the default value of `org-adapt-indentation` has changed to `nil`. So now, the Org mode default is to not indent anything (including drawers). In Org 9.4 the default was `t` (indent everything, including text).

I just wanted to bring this to attention. For now, I have not enough time to learn JavaScript work on it.

[2022-07-13 19:56] schoettl opened #884 "Default for indentation has changed in Org 9.5"
Since Org 9.5, the default value of `org-adapt-indentation` has changed to `nil`. So now, the Org mode default is to not indent anything (including drawers). In Org 9.4 the default was `t` (indent everything, including text).

I just wanted to bring this to attention. For now, I have not enough time to learn JavaScript to work on it.

_Originally posted by @whxvd in https://github.com/200ok-ch/org

[2022-07-26 15:35] dmorlitz opened #887 "Displaying todo deadlines as an overlay"
I have just found the option that allows you to display the recursive amount of time spent on a task as an additional overlay on each header.  I would like to add an option to display the DEADLINE of each task on the headline (just so I don't have to either collapse/expand everything)

I was wondering if you thought this would be possible and - if so - then I will take a shot at trying to find the

[2022-07-26 19:31] tcwinn opened #888 "Edit item description does not show new notes since re-access to organice.com"
**Describe the bug**
New notes added to item description since last login are not showing up when edit item description

**To Reproduce**
Steps to reproduce the behavior:
1. select an item
2. click the note icon to add new note
3. click item description edit icon
4. new added notes are not there

**Expected behavior**
Need to be able to edit new notes added. Currently I have to kill the browser se

[2022-07-26 19:45] schoettl commented on #888
I can confirm this bug. Thanks for reporting!

Looks like the note is added in the state to the headings note list but it is not re-exported to the heading content text.

@tcwinn regarding timestamp, you're welcome to contribute this feature if you have a good idea how to include this in the UI. For the current "+ Insert timestamp" button, I personally prefer to insert only the date.

[2022-07-26 19:54] schoettl commented on #887
It's certainly possible to add such a overlay view to headings. It sounds reasonable. I think it should be an option though, like the time spent on tasks.

Regarding search, see the sample.org, accessible through organice settings.

[code]

[2022-07-26 20:24] dmorlitz commented on #887
Jakob,

Thank you for the feedback.  I would definitely add it as an option via the
Settings panel.  I will start taking a look at the code and see if I can
figure out the right way to add this.

      David

On Tue, Jul 26, 2022 at 3:55 PM Jakob Schöttl ***@***.***>
wrote:

[2022-07-28 20:10] dmorlitz commented on #887
I have created a branch where viewing a deadline is now visible as an overlay - and I have added the setting to the Settings panel to allow you to toggle this on and off.

I was hoping to ask for some help.  While the settings screen does persist the variable into the .organice-config.json - it does not appear to load the value back properly.

I think this situation might affect the option that di

[2022-07-28 21:34] dmorlitz commented on #887
Nevermind - I found the problem

[2022-08-15 01:39] kjmatsuda opened #893 "Is it allowed to migrate code to org-web about Dropbox access token expiration"
Hi! I have a question.
I've been working on Dropbox access token expiration problem on org-web.
https://github.com/DanielDe/org-web/issues/134

Then I found the problem is solved on organice.
https://github.com/200ok-ch/organice/issues/848

I made same code changes on my local org-web, and seems to me it works.

I want to make a Pull Request to DanielDe/org-web, but that code change is originated

[2022-08-18 12:12] kjmatsuda commented on #893
Hi! @munen.
Maybe I need to explain further.

I've got answer about migration of code to org-web in a issue below.
https://github.com/200ok-ch/organice/issues/792
In my understanding, I shoud not migrate features like "org clock" to org-web, and I will not.

But I'm wondering, how about Dropbox access token expiration.
Without this code change, org-web user with Dropbox is in trouble.
Could you gu

[2022-08-18 14:48] munen commented on #893
Hi @kjmatsuda

You cannot copy code verbatim from a GPL project into a project with incompatible license. If you read the code, or the Github issues, you're already kind of cheating and saving yourself four to five full days of time that we spend in the implementation. Of course, you can integrate a Dropbox API into another JS project, so the final result will look similar.

Might I ask why you're

[2022-08-18 23:46] kjmatsuda commented on #893
Hi! @munen

Thank you for your answer.
My way was wrong, so I close the Issue I opened in org-web without pull request.
I will be more careful about license from now.
Sorry to bother you.

Why I am using and contributing org-web is that I met org-web before organice and its simplicity.
You made me realize organice is great tool and community, so I want to seek a way to contribute to organice.

Tha

[2022-08-18 23:46] #893 closed

[2022-08-19 09:32] schoettl opened #894 "copy/duplicate header"
I'm trying again to use organice in our company for production planning using orgmode exporter ox-taskjuggler.el to generate Gantt and resource diagrams. New orders are automatically added to the org file and we can use organice to manage the file.

![grafik](https://user-images.githubusercontent.com/1301843/185588967-b41c7d34-c98e-41d6-ac57-98548e160105.png)

For this, I need a method to "split"

[2022-08-23 20:44] schoettl opened #895 "When is .organice-config.json loaded?"
I'm trying to supply a standard organice config file for employees. But when I place it in the root of the Dropbox, it does not seem to be loaded into organice.

- I pressed Ctrl-F5 in organice
- I logged in and out in Dropbox

But the capture templates from the new organice config are not loaded.

Any ideas why?

[2022-09-05 04:24] jbarbero opened #896 "Missing folders in Dropbox"
Hi organice team! I love this web app, but I'm having trouble with Dropbox sync. Certain folders don't show up.

My Dropbox root dir contains these folders:
1. action
2. Apps
3. data
4. docs
5. home
6. osx
7. Screenshots
8. Sent files
9. shared
10. tmp-backedup
11. wallet

What organice sees:
1. Apps
2. Screenshots
3. Sent files
4. docs
5. home
6. osx
7. shared
8. wallet

I can still access the mi

[2022-09-05 04:32] jbarbero opened #897 "Can't bookmark specific views as PWA on iOS 15.5"
**Describe the bug**
Can only bookmark the index.html view on iOS 15.5 Mobile Safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://organice.200ok.ch/files/foobar in Mobile Safari on iOS 15.5
3. Click on Share -> Add to Home Screen
4. URL offered is https://organice.200ok.ch/index.html

**Expected behavior**
The URL offered should be: https://organice.200ok.ch/files/foobar

*

[2022-09-05 19:36] schoettl commented on #896
That sounds weird. I see all my folders (except hidden folders starting with a dot).

Is it the same problem on your iOS and on a desktop PC?

Are you sure that you are not looking at two different Dropbox accounts, a newer one and an older one with less folders?

[2022-09-05 19:40] schoettl commented on #897
Thanks for the report!

Can't test on iOS but on Android with Firefox, it works.

[2022-09-06 00:33] jbarbero commented on #896
Yes, I'm sure. I thought it might be too many folders, so I reorganized my
Dropbox until it had only the above 11 and 3 are still missing. Organice
shows the new folders but some are still missing.

I see the same folders on Firefox on OS X, Firefox on iOS, and Safari on
iOS.

El El lun, sep. 5, 2022 a la(s) 3:36 p.m., Jakob Schöttl <
***@***.***> escribió:

[2022-09-06 00:33] jbarbero commented on #897
I will try to run it myself and submit a fix when I have a moment.

El El lun, sep. 5, 2022 a la(s) 3:40 p.m., Jakob Schöttl <
***@***.***> escribió:

[2022-09-08 18:39] leonchas17 opened #898 "iOS 7.1.2 Support?"
Hello! Newbie user here. First of all, congratulations on a great idea and a great piece of software, keep it up! On to my issue: I'm trying to access organice from an iPhone 4 with iOS 7.1.2 (I know... a veritable fossil, but it's what I can currently afford...). JavaScript is enabled on my Safari but if i try to reach https://organice.200ok.ch all i get is a blank page (If i _do_ disable JavaScr

[2022-09-08 18:49] leonchas17 commented on #898
For the sake of completeness i have to mention that the organice instance deployed from the docker image is served from a http page, not a https.

[2022-09-08 18:51] schoettl commented on #898
Hi Leon,
I sometimes see blank pages in JS apps (not on iPhone though) when there are cache problems. Maybe you can try to clear the browser cache?

You could also try a different browsers maybe. For Android, there is Chrome and Firefox, for example.

[2022-09-08 19:11] leonchas17 commented on #898
Thanks a lot, @schoettl ! I did clear safari's history, cookies and data but to no avail :(
Likewise, I've tried using Chrome, as well as two lesser known browsers (Sleipnir and UC Browser) from that phone, but no joy.

[2022-09-08 19:39] munen commented on #898
Using other browsers in iOS isn’t likely to help. All browsers on iOS have to use the same engine as safari, they are not independent as on other platforms.

I’m afraid if it doesn’t work, there’s not a lot we can do about it. iOS 7 is 9 years old now and mobile safari has always lagged behind in development compared to other browsers (still no web notifications for example).

Happy to hear your i

[2022-09-08 22:59] leonchas17 commented on #898
Ok, thanks!

 I'll see what i can do, and i'll keep you posted if i find anything worthwhile (but don't hold your breath ;) ).

iPhone 4 is a great little device. I mentioned being cash strapped as one of the reasons i'm still using it, but of course there's also its form factor and its battery life, not to mention the fact that i feel programmed obsolescence is a bad deal on the planet and its in

[2022-09-09 00:50] leonchas17 commented on #898
I was unable to get any info from the web inspector, either on my localhost instance, or the one from organice.200ok.ch:
![image](https://user-images.githubusercontent.com/52773873/189248385-9def67c9-cdd0-4ec7-af63-aa9c7898410b.png)
But! it turns out, before iOS 6, Safari had a built-in debug console. And, what do you know, i happened to have an iPod Touch even older than my iPhone, running iOS 5.

[2022-09-09 18:10] leonchas17 commented on #898
Is it OK if i post the error messages here? I wouldn't want to compromise organice by revealing vulnerabilities, or anything like that.

[2022-09-10 06:43] munen commented on #898
You are welcome to post errors here. organice is FOSS, so nothing is hidden. Also, it’s unlikely we’ll find a vulnerability here^^

[2022-09-10 16:05] leonchas17 commented on #898
Ok. Here are the 4 messages i get when i try to visit https://organice.200ok.ch/

(1) [X] JavaScript: Error on Line 1
    https://organice.200ok.ch/
    SyntaxError: Parse error

(2) [X] JavaScript: Error
    undefined
    TypeError: 'undefined' is not a function

(3) [X] JavaScript: Error on Line 2
    https://organice.200ok.ch/static/js/2.defd798a.chunk.js
    SyntaxError: Parse error

(4) [X] J

[2022-09-10 16:45] munen commented on #898
Well, it’s pretty clear, then. The browser is 10 years old and it does not understand the code whatsoever. It’s not tripping up at a specific functionality/feature, it cannot read it all.

If you wanted to continue looking into a solution the way forward would be to check if webpack can transpile JS into a way older version of EcmaScript and then retry. Doing so for the mainline build of organice

[2022-09-11 00:47] leonchas17 commented on #898
OK. Sounds like it's way out of my league, but i may give it a shot. Or, maybe it's time to burst my bubble and retire the IPhone 4.
Anyway, thanks a lot for all the help and for your patience!

[2022-09-11 20:28] gtusr commented on #789
Any progress on this front?

It's what is holding me back right now from switching over from Orgzly.

[2022-09-12 00:52] munen commented on #789
Lots of progress, indeed! @gtusr wants the feature. @munen is happy to support his PR with code reviews and testing. To get started: It’s just a simple configure flag, you can follow along the code path of “font size”.

Glhf🤞

[2022-09-15 09:29] munen commented on #897
I confirm that it does not work on iOS 15.6.1. It definitively used to work. And we had to adapt this once or twice already due to changes in iOS or Android. Not saying that it is not a regression on our side this time. I haven't looked into it, yet.

My old bookmark on the homescreen still works, though.

@jbarbero Thank you for the report :pray:

That is very kind of you! I'll assign the issue t

[2022-09-15 09:34] munen commented on #896
That's an interesting issue, indeed.

I cannot delete all my folders in the root directory to try a 'pure' reproduction, but I have created your folders in a sub-directory `mkdir action Apps data docs home osx Screenshots "Sent files" shared tmp-backedup wallet` with. There, they show up just fine:

![image](https://user-images.githubusercontent.com/505721/190369785-e3fd603a-977d-49a3-924c-614273d

[2022-10-13 12:22] schoettl commented on #894
Another option would be a "copy" checkbox in the refile menu (`org-refile-copy`). The disadvantages of this way for my use case would be

- not as easy to reach
- the copy will appear at a different place, not right below the original header

But if I'd go that way, another option in the refile function for prepend vs. append would be helpful.

And a copy button could still be added and reuse the

[2022-10-17 02:12] friskgit opened #899 "Can't connect to Dropbox"
Hi,

Love to try organize! I tried to connect to Dropbox (Android) but it failed. Now I just get a blank screen when I try to reconnect and a pop-up that says connection failed.

Any hints?

Thanks, Henrik

[2022-10-17 07:30] munen commented on #899
Hi there

thank you for the report. A console log output would be very helpful. Generally speaking, logging in to Dropbox works. I just tried it, again: https://www.dropbox.com/s/g55m70qmbpqp2zb/Video%2017.10.22%2C%2009%2027%2041.mp4?dl=0

Kind regards

[2022-10-17 21:13] friskgit commented on #899
Hi,

Yes, the log in seems to have worked. I got a message from Dropbox that organice was authorized.

The popup says:

organice.200ok.ch says
There was an error retrieving your files!

I can get to a page that says "You don't have any file settings - add one by pressing the + button", but there is no + button.

I haven't done any developing for android, but if you tell me how to get the log I'd b

[2022-10-17 21:17] friskgit commented on #899
Tried on my laptop, but it gives the same result. Is there a special place where the org files have to be on the Dropbox?

[2022-10-17 22:08] schoettl commented on #899
In the desktop PC browser, press F12 (or menu -> dev tools); then, the error log should show up. It should look similar like in the screenshots of this issue: #848

[2022-10-18 12:48] berteh commented on #789
I'll have a look at this maybe some day. in the meantime just load the following script in tampermonkey:

[code]

[2022-10-19 01:30] friskgit commented on #899
Hi,

It appears to have to do with a percent sign in one of the directories in my Dropbox:

Pathname "/files/Katt Hernandez 50% Seminar" could not be decoded. This is likely caused by an invalid percent-encoding.

Is it possible to connect organice to the specific directory that contains the org files rather than the entire structure? I can probably get rid of this directory though.

[2022-10-19 01:41] friskgit commented on #899
After removing that directory it works. For some reason I still can't see all of the .org files in the file settings dialog though. I see some, and if I open a sub directory within my org files directory, I can see the org files there. The log does not show anything

[2022-10-19 07:02] schoettl commented on #899
Regarding this original issue, I can confirm the bug. (`mkdir ~/Dropbox/'test%'`)

I get this error even if I didn't try to show `test%`s content or a file in it. Maybe the percent decoding is done in the wrong place. It should be done only right after grabbing the file path from the URL.

[code]

Regarding the questions unrelated to this issue, see #304 and maybe #896.

[2022-10-21 04:44] gtusr commented on #789
Thanks.  The font looks a lot better now.

I still much prefer the UI interface of Orgzly over Organice.  Perhaps when I have more time to brush up on my CSS skills, I'll try to create a theme for the latter that more closely mimics the former.

[2022-10-21 08:41] schoettl commented on #884
I guess *because* `shouldNotIndentOnExport` has no default defined, it defaults to `false` => indentation.

I just got the case again where a new colleague messed up whitespaces in our shared org files with organice.

@munen Is it alright when we catch up with org-mode now, and set the default to `true`? I can provide a PR.

[2022-10-21 10:30] munen commented on #884
Hi @schoettl,

I'm in favor of configuring defaults in the organice settings the same as for Emacs Org mode. It is my understanding from https://orgmode.org/Changes.html that the default is `nil` for `org-adapt-indentation` since Org mode 9.5. I double checked with a clean install of Emacs and Org mode 9.5.2 which confirms it:

![image](https://user-images.githubusercontent.com/505721/197174887-e1

[2022-10-21 12:26] munen commented on #884
You are correct! My apologies for not reading it properly through.

Now that I understand it, and have tested the setting in Emacs and organice and have a follow-up question: Setting the flag in Emacs has a different effect than in organice. The reason is that organice parses an Org file on startup and later transforms the internal representation back to an Org file. Hence, setting the flag in Ema

[2022-10-21 12:35] munen commented on #895
The config is loaded on startup. What you are describing sounds like a bug. To be more blunt, what you're describing is that the config file is not working at all, which wouldn't be great(;

I have tried to reproduce it and couldn't. Here's a video of what I tried: https://www.dropbox.com/s/ubwnq9uvmqaj22y/2022-10-21_demo_config_file.mkv?dl=0

Can you elaborate what you're doing differently than i

[2022-10-21 13:48] schoettl commented on #895
Thank you for testing this! Turns out that the reason was an config file with missing keys at my side: In my template config, I have removed the key `lastSeenChangelogHash`.

The thing is that organice does not log any error when it cannot load the config. That would be helpful.

[2022-10-21 15:20] munen commented on #895
Agreed. Improved error handling is always a good improvement :+1:

[2022-10-21 15:43] munen commented on #894
Thank you for pinging on this issue, again :pray:  First, kudos to using organice i production :muscle: :100:

I can relate to wanting copy functionality. Personally, I also have templates for various things that I regularly copy and populate with new data. Some of those templates, I even keep in the spot where the new populated version should be, so our use cases are very similar. So, since it's

[2022-10-22 14:30] neildavidforrest commented on #511
I would find this feature very useful, was there any progress?

[2022-10-22 21:52] friskgit opened #900 "All org files on Dropbox are not seen by organice"
**Describe the bug**
All org files in my dropbox org folder are not shown, only four out of 20.

**To Reproduce**
I have connected to DropBox, and started organice

**Expected behavior**
All files in the subdirectory should be available

**Screenshots**
![Screenshot from 2022-10-22 23-43-19](https://user-images.githubusercontent.com/9341080/197363686-edc27180-cce1-43ed-8083-4994fc8db161.png)

![Sc

[2022-10-23 08:24] munen commented on #900
Hi @friskgit

Thank you for reporting an issue. Can you provide a complete directory listing (`ls -lh`) in text form, please?

[2022-10-23 09:13] munen commented on #511
Yes! There's a volunteer for the issue at hand. @neildavidforrest, would you like to take over implementation? I'm happy to help with testing and documentation.

[2022-10-23 11:04] schoettl commented on #884
Hm, I don't quite understand. Yes, there is the difference between Org and organice that you described (apart from the inversion).

Fixing organice to adapt indentation only for new text would be more work. I can't do that and I'd rather keep organice's behaviour but align with Org's default.

Changing the default *and* renaming the option to align with Org would need a migration strategy, I think

[2022-10-23 11:19] schoettl commented on #895
For reference, the place to enhance error logging is around here: settings_persister.js line 395

[2022-10-24 23:32] neildavidforrest commented on #511
Sure I can give it a shot. It will take me a while to get up to speed, but the information in https://github.com/200ok-ch/organice/pull/505 seems very useful.

[2022-10-25 14:58] poVoq commented on #868
Selfhosted Gitea and Codeberg.org support would be nice as well. They also support acting as a Oauth2 provider so the setup should be similar to Gitlab.com

[2022-10-25 15:00] munen commented on #868
@poVoq Are you interested to work on that? NB: Just signing in won't be enough. You'll have to create a sync back-end compatible with each of those new storage providers.

[2022-10-25 15:04] poVoq commented on #868
Wouldn't that be just git over http?

[2022-10-25 15:05] munen commented on #868
If you can implement that, it will be.

[2022-10-26 14:36] munen commented on #511
@neildavidforrest #505 is certainly a good place to have a look into how the search setup is implemented. There's also a bit of documentation to get you started from the top: https://organice.200ok.ch/documentation.html#search_grammar

Good luck and have fun!

[2022-10-26 21:56] neildavidforrest commented on #511
I have a proof of concept version working locally, I will try to put a PR together soon after some further refinement. For example I have not yet implemented the filtering of markup characters described above.

![image](https://user-images.githubusercontent.com/106537273/198145828-e321107e-d219-4c92-9979-09b95a7a2cb7.png)

An useful extension to this might be to show a preview of the matched text

[2022-11-01 07:15] yantar92 commented on #730
Rather than trying to access local FS direcly, may it be possible to create a simple local server that will serve the connector between organice and the file system?

[2022-11-01 07:21] munen commented on #730
@yantar92 Absolutely! You can always set up a local WebDAV server. organice ships one for testing in a Docker configuration, but there are many options for WebDAV servers. Here's some documentation regarding organice and WebDAV:

- https://organice.200ok.ch/documentation.html#orge0ee6c2
- https://organice.200ok.ch/documentation.html#faq_webdav

[2022-11-01 09:49] yantar92 commented on #730
"Zen Monk Alain M. Lafon" ***@***.***> writes:

Well. I am not up to setting up the whole ngnix/apache. And rclone
webdav server is not supported even if I use no authentication (rclone
does not provide CORS).

Also, I am wondering if there is any webdav server for android. That
would work nicely: Organice > WebDav > Syncthing.

--
Ihor Radchenko // yantar92,
Org mode contributor,
Learn more about

[2022-11-01 09:52] munen commented on #730
Yes, there are users running organice and webdav locally on their phone. Here's an example: https://github.com/200ok-ch/organice/tree/master/contrib/organice-pinephone

[2022-11-02 06:56] yantar92 commented on #730
"Zen Monk Alain M. Lafon" ***@***.***> writes:

Thanks for the link, but I am afraid that it is not very useful for
Android phones; even rooted. Pinephone is essentially a Linux-driven
phone and the instructions assume a proper Linux.

--
Ihor Radchenko // yantar92,
Org mode contributor,
Learn more about Org mode at <https://orgmode.org/>.
Support Org development at <https://liberapay.com/org-mode

[2022-11-02 07:18] munen commented on #730
@yantar92 Good news, then. I just added another piece of contrib documentation of how to set up organice on Android with a local WebDAV server: https://github.com/200ok-ch/organice/tree/master/contrib/organice-on-android-with-webdav-server

[2022-11-06 21:17] JackTheMico opened #904 "PWA can't be installed on Android"
**Describe the bug**
There's no install button for Organice on Android Chrome.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://organice.200ok.ch with Chrome on Android
2. Click on the top right button
3. Scroll down and try to find the install button
4. Can't find it

**Expected behavior**
Organice can be installed as a PWA

**Screenshots**
No install button for Organice
![Scre

[2022-11-06 22:07] schoettl commented on #904
I'm not using a proxy. I can confirm this on a Nokia 7 plus with Android 10 in Chrome 107.0.

However, on Firefox for Android, I do see an "Install" button.

Although,

1. I'm not 100% sure if the organice app is not already installed in Chrome(?). At least, organice not on my home screens and not in the apps menu.
2. I tested only on https://organice.200ok.ch/sample – but it should be same as if

[2022-11-07 15:53] JackTheMico commented on #904
![Screenshot_20221107-232515_Firefox](https://user-images.githubusercontent.com/19216598/200352104-a8c03495-b579-40ec-b8d5-78aacc873d65.png)
Yeah, I confirm that Firefox has the install button.
But after "Add to home screen", it seems  both of them don't have the offline support features.
![Screenshot_20221107-234511_Kiwi_Browser](https://user-images.githubusercontent.com/19216598/200354613-7f6bf1

[2022-11-25 07:39] yantar92 commented on #730
"Zen Monk Alain M. Lafon" ***@***.***> writes:

Thanks!

This looks useful, but hard to follow:

"Note that as of 2020-08-28, the required version of Node.js for
compiling organice is v12.13.1, however, the nodejs-lts package is on
v12.18.3"

This statement still holds true today and I was unable to compile
Organice locally in termux. The provided link
https://wiki.termux.com/wiki/Building_package